



<table style="width:100%">
    <tr><td style="width:60%;">#dos</td><td>DOA: #doi</td></tr>

</table>
<br />
<br />
#drName
<br />
#address
<br />
<br />
Re: #patientname
<br />
DOB: #dob
<br />
<br />
Dear Dr. #drlname:
<br />
<br />
<div style="display:none">
    #dod
    #activityaffected
    #restriction
    #workstatus
    #pastinjury
    <br />
    <br />
</div>
<b><u>Chief Complaints:</u></b>
<br />
#cclist
<br />
<br />

<b><u>HISTORY:</u></b>
<br />
#history
<br />
<br />
   #cc1
    #cc2
    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC


<br />
<br />
<b>Review of systems: </b>#ros
<br />
<br />
#pastmedicalhistory
#pastsurgicalhistory
#pastmedications
#allergies
#socialhistory
#familyhistory
<br />
<!--#work_status-->
<b>Physical Examination:</b>
<br />
#vital
#general
#heent
#occ_head
#cca
#phy_ne
#gait

<br />
<br />
#dtr-ue
#dtr-le
#sen_exm
#mmst


<br />
<br />

#PENeck
#PEMidback
#PELowback
#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

<!--#nerologicalexam-->
<!--#reflexexam
#sensoryexam
#motorexam-->
#diagnostic

<b><u>FINAL DIAGNOSES</u>: </b>#diagnoses
<b><u>TREATMENT/PLAN:</u></b>
<br />
<!--#treatment-->
#plan
#care
#procedures
#goal
#precautions
#follow-up

