<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<center><b>Initial Comprehensive Medical Evaluation</b></center>
<br />
<table style="width:100%;display:none">
    <tr><td style="width:30%;font-weight:bold">RE:</td><td>#patientname</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOB:</td><td>#dob</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOI:</td><td>#doi</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOS:</td><td>#dos</td></tr>
</table>
<b>RE:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#patientname
<br />
<b>DOB:</b>&nbsp;&nbsp;#dob
<br />
<b>DOI:</b>&nbsp;&nbsp;&nbsp;#doi
<br />
<b>DOS:</b>&nbsp;&nbsp;#dos
<br />
<b>LOCATION:</b>&nbsp;&nbsp;#location

<br />
<br />
#drName
<br />
#address
<!--<b><u>Chief Complaints:</u></b>
<br />
#cclist
<br />
<br />-->

#dod
#work_status
<br />
<br />

<b>PRESENT COMPLAINTS:</b>
<br />
<!--#cc1-->
    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
<!--#cc2-->

<b>HISTORY:</b>
<br />
#history
<br />
<br />
<b>REVIEW OF SYSTEMS: </b>#ros
<br />
<br />
#pastmedicalhistory
#pastsurgicalhistory
#socialhistory
#pastmedications
#allergies
#occupation
#general
#familyhistory
<!--<br />

<br />-->
#vital
<br />
<!--#work_status-->
<b>PHYSICAL EXAM:</b>
<br />
Examination of the face and head reveals no abnormalities. Examination of the neck is supple with no JVD or palpable masses along the thyroid and other areas. Examination of the cardiovascular system reveals the heart to have a regular rate and rhythm. S1 and S2 are heard without splits. On auscultation, there are no obvious murmurs or clicks. Examination of the pulmonary system reveals both lung fields to be clear to auscultation. No rales, rhonchi or wheezes are heard. The abdomen is soft, non-tender and non-distended with bowel sounds present in all four quadrants. There is no costovertebral angle tenderness bilaterally. The radial, brachial, femoral, popliteal, dorsalis pedis and posterior tibial pulses are present bilaterally and symmetrical.


<p>
    <b>
        NEUROLOGICAL EXAMINATION:
    </b> The mental status examination reveals the patient to be awake, alert and oriented to time, person and place. Higher cortical functions such as language skills, calculations and short and long term memory are intact. Patient is alert and cooperative and responding appropriately. Cranial nerves II-XII grossly intact.
</p>

<p>
    <b>
        CRANIAL NERVE EXAMINATION:
    </b> Reveals both pupils to be reactive to light and accommodation. Extraocular movements are full without lateral nystagmus.
</p>
<p>
    <b>
        COORDINATION:
    </b> There is no dysmetria to finger to nose and heel to shin examination and no evidence of ataxia nor dysdiadochokinesis.
</p>

#reflexexam
#sen_exm
#mmst
#PENeck
#PEMidback
#PELowback
#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

#gait
<br />


#diagnostic

#diagnoses

#plan
#treatment
#care
#procedures
#goal
#precautions
#follow-up
<br />
#lastnote
