



<table style="width:100%">
    <tr><td style="width:60%;">#dos</td><td>DOA: #doi</td></tr>

</table>
<br />
<br />
#drName
<br />
#address
<br />
<br />
Re: #patientname
<br />
DOB: #dob
<br />
<br />
Dear Dr. #drlname:
<br />
<br />
<div style="display:none">
    #dod
    #activityaffected
    #restriction
    #workstatus
    #pastinjury
    <br />
    <br />
</div>
<b><u>HISTORY:</u></b>
<br />
#history
<br />
<br />
<b><u>PRESENT COMPLAINTS</u>:</b>
<br />
    #present_complaints
    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
    #complain

<!--<b>REVIEW OF SYSTEMS: </b>Negative for weight loss, fever, dizziness, diplopia, seizures, memory impairment, gingival bleeding, hoarseness, chest pain, palpitation, cough, hemoptysis, dysphagia, nausea, jaundice, hematemesis, melena, constipation, diarrhea, constipation, urinary retention, dysuria, frequency, incontinence, bruising, arthritis, stiffness and skin rash.-->
<!--<br />
<br />-->
#pastmedicalhistory
#pastsurgicalhistory
#pastmedications
#allergies
#socialhistory

<!--#work_status-->
<b><u>PHYSICAL EXAMINATION:</u></b>
<br />
#vital
#gait
<!--<br />
Height is _ feet _ inch, weight is ___ lbs. Examination of the face and head reveals no abnormalities.  Examination of the neck is supple with no JVD or palpable masses along the thyroid and other areas.  Examination of the cardiovascular system reveals the heart to have a regular rate and rhythm.  S1 and S2 are heard without splits.  On auscultation, there are no obvious murmurs or clicks.  Examination of the pulmonary system reveals both lung fields to be clear to auscultation.  No rales, rhonchi or wheezes are heard.  The abdomen is soft, non-tender and non-distended with bowel sounds present in all four quadrants.  There is no costovertebral angle tenderness bilaterally.  The radial, brachial, femoral, popliteal, dorsalis pedis and posterior tibial pulses are present bilaterally and symmetrical.-->
<br />
<br />
<!--<b>
    MUSCULOSKELETAL EXAMINATION:
</b>
<br />-->
#PENeck
#PEMidback
#PELowback
#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

#nerologicalexam
#reflexexam
#sensoryexam
#motorexam
<!--#diagnostic-->

<p>If the given history is correct, the injury to #bodypart is related to the accident of #doi.</p>
<br />
<br />

<b><u>FINAL DIAGNOSES</u>: </b>#diagnoses
<b><u>TREATMENT/PLAN:</u></b>
<br />
#treatment
#plan

<!--#medications-->
<!--procedures-->
<!--#care

#precautions-->
<!---->
<!--#consultation-->
<!--#follow-up-->



<p>
    I, Anjani Sinha, M.D., being duly licensed to practice medicine in the state of New York hereby affirm under the penalty of perjury that the statements contained herein are true and accurate to the best of my knowledge.
</p>



