<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <div id="WrapLeft" #leftdiv>
            <label class="control-label">The patient complains of left elbow pain that is </label>
            <input type="text" id="txtPainScaleL" style="Width:40px" value="8" onchange="txtMe(this)" />
            <label class="control-label">/10, with 10 being the worst, which is </label>
            <input type="checkbox" id="chkcontentL" onclick="checkMe(this)" value="constant" /> constant
            <input type="checkbox" id="chkintermittentL" onclick="checkMe(this)" value="intermittent" /> intermittent

            <input type="checkbox" id="chksharpL" onclick="checkMe(this)" value="sharp" checked />sharp

            <input id="chkelectricL" type="checkbox" value="electric" onclick="checkMe(this)" /> electric
            <input id="chkshootingL" type="checkbox" value="shooting" onclick="checkMe(this)" /> shooting
            <input id="chkthrobbingL" type="checkbox" value="throbbing" onclick="checkMe(this)" /> throbbing
            <input id="chkpulsatingL" type="checkbox" value="pulsating" onclick="checkMe(this)" /> pulsating
            <input id="chkdullL" type="checkbox" value="dull" onclick="checkMe(this)" checked /> dull
            <input id="chkachyL" type="checkbox" value="achy" onclick="checkMe(this)" checked /> achy

            <label> in nature.</label>

            <input type="checkbox" id="chkcpmL" value="The patient complains of pain specifically at " onclick="checkMe(this)" checked class="nocomma" />The patient complains of pain specifically at
            <input type="checkbox" id="chkMedEpicondyleL" onclick="checkMe(this)" value="medial epicondyle" /> medial epicondyle,
            <input type="checkbox" id="chkMedEpicondyleL" onclick="checkMe(this)" value="lateral epicondyle" /> lateral epicondyle,
            <input type="checkbox" id="chkOlecranonL" onclick="checkMe(this)" value="olecranon aspect of the elbow" /> olecranon aspect of the elbow
            <label>.</label>
            <input type="checkbox" id="chkkelbowleft" value="The knee pain is improved with " class="nocomma" onclick="checkMe(this)" checked />&nbsp;The elbow pain is increases with

            <input type="checkbox" id="chkmovementL" onclick="checkMe(this)" value="movement" />movement,
            <input type="checkbox" id="chkraisingthearmL" onclick="checkMe(this)" value="raising the arm" checked /> raising the arm,
            <input type="checkbox" id="chkliftingobjectsL" onclick="checkMe(this)" value="lifting objects" checked /> lifting objects,
            <input type="checkbox" id="chkrotationL" onclick="checkMe(this)" value="rotation" /> rotation,
            <input type="checkbox" id="chkworkingL" onclick="checkMe(this)" value="working" /> working
            <input type="text" id="txtPainScaleL2" style="Width:240px" value="" onchange="txtMe(this)" />
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCL" Style="Width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>
        <div id="WrapRight" #rigthtdiv>
            <label class="control-label">The patient complains of right elbow pain that is </label>
            <input type="text" id="txtPainScaleR" style="Width:40px" value="8" onchange="txtMe(this)" />
            <label class="control-label">/10, with 10 being the worst, which is </label>
            <input type="checkbox" id="chkcontentR" onclick="checkMe(this)" value="constant" /> constant
            <input type="checkbox" id="chkintermittentR" onclick="checkMe(this)" value="intermittent" /> intermittent
            
            <input type="checkbox" id="chksharpR" onclick="checkMe(this)" value="sharp" checked />sharp

            <input id="chkelectricR" type="checkbox" value="electric" onclick="checkMe(this)" /> electric
            <input id="chkshootingR" type="checkbox" value="shooting" onclick="checkMe(this)" /> shooting
            <input id="chkthrobbingR" type="checkbox" value="throbbing" onclick="checkMe(this)" /> throbbing
            <input id="chkpulsatingR" type="checkbox" value="pulsating" onclick="checkMe(this)" /> pulsating
            <input id="chkdullR" type="checkbox" value="dull" onclick="checkMe(this)" checked /> dull
            <input id="chkachyR" type="checkbox" value="achy" onclick="checkMe(this)" checked /> achy
            <label> in nature.</label>
            <input type="checkbox" id="chkcpmR" value="The patient complains of pain specifically at " onclick="checkMe(this)" checked class="nocomma" />The patient complains of pain specifically at
            <input type="checkbox" id="chkMedEpicondyleR" onclick="checkMe(this)" value="medial epicondyle" /> medial epicondyle,
            <input type="checkbox" id="chkLatEpicondyleR" onclick="checkMe(this)" value="lateral epicondyle" /> lateral epicondyle,
            <input type="checkbox" id="chkOlecranonR" onclick="checkMe(this)" value="olecranon aspect of the elbow" /> olecranon aspect of the elbow
            <label>.</label>
            <input type="checkbox" id="chkkelbowright" value="The knee pain is improved with " class="nocomma" onclick="checkMe(this)" checked />&nbsp;The elbow pain is increases with

            <input type="checkbox" id="chkmovementR" onclick="checkMe(this)" value="movement" />movement,
            <input type="checkbox" id="chkraisingthearmR" onclick="checkMe(this)" value="raising the arm" checked /> raising the arm,
            <input type="checkbox" id="chkliftingobjectsR" onclick="checkMe(this)" value="lifting objects" checked /> lifting objects,
            <input type="checkbox" id="chkrotationR" onclick="checkMe(this)" value="rotation" /> rotation,
            <input type="checkbox" id="chkworkingR" onclick="checkMe(this)" value="working" /> working
            <input type="text" id="txtPainScaleR2" style="Width:240px" value="" onchange="txtMe(this)" />
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCR" Style="Width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>

    </div>

</div>
<script>
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

</script>


