<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <div id="WrapLeft" #leftdiv>
            <span class="control-label" id="lblpain1L">The patient complains of left elbow pain that is </span>
            <input type="text" id="txtPainScaleL" style="Width:40px" class="paincls" value="" onchange="txtMe(this); removePainClass(this, 'L');" />
            <span class="control-label" id="lblpain2L">/10, with 10 being the worst</span>
            <span class="noprint" id="lblwhichL">, which is </span>
            <input type="checkbox" id="chkcontentL" value="constant" class="painL" onclick="checkMe(this);removeClass(this,'L');" />constant,
            <input type="checkbox" id="chkintermittentL" value="intermittent" class="painL" onclick="checkMe(this);removeClass(this,'L');" />intermittent,
            <input type="checkbox" id="chksharpL" value="sharp" class="painL" onclick="checkMe(this);removeClass(this,'L');" />sharp,
            <input type="checkbox" id="chkelectricL" value="electric" class="painL" onclick="checkMe(this);removeClass(this,'L');" />electric,
            <input type="checkbox" id="chkshootingL" value="shooting" class="painL" onclick="checkMe(this);removeClass(this,'L');" />shooting,

            <input type="checkbox" id="chkthrobbingL" value="throbbing" class="painL" onclick="checkMe(this);removeClass(this,'L');" />throbbing,
            <input type="checkbox" id="chkpulsatingL" value="pulsating" class="painL" onclick="checkMe(this);removeClass(this,'L');" />pulsating,

            <input type="checkbox" id="chkdullL" value="dull" class="painL" onclick="checkMe(this);removeClass(this,'L');" />dull,
            <input type="checkbox" id="chkachyL" value="achy" class="painL" onclick="checkMe(this);removeClass(this,'L');" />achy
            <span class="noprint" id="lblnatureL"> in nature</span>
            <span id="lblpain3L">.</span>

            <input type="checkbox" id="chkcpmL" value="The patient complains of pain specifically at " onclick="checkMe(this)" class="nocomma" />The patient complains of pain specifically at
            <input type="checkbox" id="chkMedEpicondyleL" class="chkelbowpainL" onclick="checkMe(this);checkDefault(this, 'chkcpmL');" value="medial epicondyle" /> medial epicondyle,
            <input type="checkbox" id="chkMedEpicondyleL" class="chkelbowpainL" onclick="checkMe(this);checkDefault(this, 'chkcpmL');" value="lateral epicondyle" /> lateral epicondyle,
            <input type="checkbox" id="chkOlecranonL" class="chkelbowpainL" onclick="checkMe(this);checkDefault(this, 'chkcpmL');" value="olecranon aspect of the elbow" /> olecranon aspect of the elbow
            <label>.</label>
            <input type="checkbox" id="chkkelbowleft" value="The elbow pain increases with " class="nocomma" onclick="checkMe(this)" />&nbsp;The elbow pain increases with

            <input type="checkbox" id="chkmovementL" onclick="checkMe(this);checkDefault(this, 'chkkelbowleft');" value="movement" /> movement,
            <input type="checkbox" id="chkraisingthearmL" class="chkelbowimproveL" onclick="checkMe(this);checkDefault(this, 'chkkelbowleft');" value="raising the arm" /> raising the arm,
            <input type="checkbox" id="chkliftingobjectsL" class="chkelbowimproveL" onclick="checkMe(this);checkDefault(this, 'chkkelbowleft');" value="lifting objects" /> lifting objects,
            <input type="checkbox" id="chkrotationL" class="chkelbowimproveL" onclick="checkMe(this);checkDefault(this, 'chkkelbowleft');" value="rotation" /> rotation,
            <input type="checkbox" id="chkworkingL" class="chkelbowimproveL" onclick="checkMe(this);checkDefault(this, 'chkkelbowleft');" value="working" /> working
            <input type="text" id="txtPainScaleL2" style="Width:240px" value="" onchange="txtMe(this)" />
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCL" Style="Width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
              
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>
        <div id="WrapRight" #rigthtdiv>
            <span id="lblpain1R">The patient complains of right elbow pain that is </span>
            <input type="text" id="txtPainScaleR" style="Width:40px" class="paincls" value="" onchange="txtMe(this); removePainClass(this, 'R');" />
            <span class="control-label" id="lblpain2R">/10, with 10 being the worst</span>
            <span class="noprint" id="lblwhichR">, which is </span>
            <input type="checkbox" id="chkcontentR" class="painR" value="constant" onclick="checkMe(this);removeClass(this,'R');" />constant,
            <input type="checkbox" id="chkintermittentR" class="painR" value="intermittent" onclick="checkMe(this);removeClass(this,'R');" />intermittent,
            <input type="checkbox" id="chksharpR" value="sharp" class="painR" onclick="checkMe(this);removeClass(this,'R');" />sharp,
            <input type="checkbox" id="chkelectricR" value="electric" class="painR" onclick="checkMe(this);removeClass(this,'R');" />electric,
            <input type="checkbox" id="chkshootingR" value="shooting" class="painR" onclick="checkMe(this);removeClass(this,'R');" />shooting,

            <input type="checkbox" id="chkthrobbingR" value="throbbing" class="painR" onclick="checkMe(this);removeClass(this,'R');" />throbbing,
            <input type="checkbox" id="chkpulsatingR" value="pulsating" class="painR" onclick="checkMe(this);removeClass(this,'R');" />pulsating,

            <input type="checkbox" id="chkdullR" value="dull" class="painR" onclick="checkMe(this);removeClass(this,'R');" />dull,
            <input type="checkbox" id="chkachyR" value="achy" class="painR" onclick="checkMe(this);removeClass(this,'R');" />achy
            <span class="noprint" id="lblnatureR"> in nature</span>
            <span id="lblpain3R">.</span>

            <input type="checkbox" id="chkcpmR" value="The patient complains of pain specifically at " onclick="checkMe(this)" class="nocomma" />The patient complains of pain specifically at
            <input type="checkbox" id="chkMedEpicondyleR" class="chkelbowpainR" onclick="checkMe(this);checkDefault(this, 'chkcpmR');" value="medial epicondyle" /> medial epicondyle,
            <input type="checkbox" id="chkLatEpicondyleR" class="chkelbowpainR" onclick="checkMe(this);checkDefault(this, 'chkcpmR');" value="lateral epicondyle" /> lateral epicondyle,
            <input type="checkbox" id="chkOlecranonR" class="chkelbowpainR" onclick="checkMe(this);checkDefault(this, 'chkcpmR');" value="olecranon aspect of the elbow" /> olecranon aspect of the elbow
            <label>.</label>
            <input type="checkbox" id="chkkelbowright" value="The elbow pain increases with " class="nocomma" onclick="checkMe(this)" />&nbsp;The elbow pain increases with

            <input type="checkbox" id="chkmovementR" class="chkelbowimproveR" onclick="checkMe(this);checkDefault(this, 'chkkelbowright');" value="movement" /> movement,
            <input type="checkbox" id="chkraisingthearmR" class="chkelbowimproveR" onclick="checkMe(this);checkDefault(this, 'chkkelbowright');" value="raising the arm" /> raising the arm,
            <input type="checkbox" id="chkliftingobjectsR" class="chkelbowimproveR" onclick="checkMe(this);checkDefault(this, 'chkkelbowright');" value="lifting objects" /> lifting objects,
            <input type="checkbox" id="chkrotationR" class="chkelbowimproveR" onclick="checkMe(this);checkDefault(this, 'chkkelbowright');" value="rotation" /> rotation,
            <input type="checkbox" id="chkworkingR" class="chkelbowimproveR" onclick="checkMe(this);checkDefault(this, 'chkkelbowright');" value="working" /> working
            <input type="text" id="txtPainScaleR2" class="chkelbowimproveR" style="Width:240px" value="" onchange="txtMe(this)" />
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCR" Style="Width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
               
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>

    </div>

</div>
<script>

    function removePainClass(txtId, side) {

        var $span1 = $("#lblpain1" + side);
        var $span2 = $("#lblpain2" + side);
        var $span3 = $("#lblpain3" + side);



        if ($(txtId).val() !== '') {



            $span1.replaceWith(function () {
                return $('<label/>', {
                    Id: 'lblpain1' + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain2' + side,
                    html: this.innerHTML
                });
            });

            $span3.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain3' + side,
                    html: this.innerHTML
                });
            });


            //$('#lblnature').removeClass("noprint");
            //$('#lblwhich').removeClass("noprint");
        }
        else {



            $span1.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain1' + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain2' + side,
                    html: this.innerHTML
                });
            });
            $span3.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain3' + side,
                    html: this.innerHTML
                });
            });

        }

    }

    function displaySide(side) {

      
        if (side === 'l') {
            $('#WrapLeft').show();
            $('#WrapRight').hide();
            $('#WrapLeftPE').show();
            $('#WrapRightPE').hide();
        }
        else if (side === 'r') {
            $('#WrapLeft').hide();
            $('#WrapRight').show();
            $('#WrapLeftPE').hide();
            $('#WrapRightPE').show();
        }
        else {
            $('#WrapLeft').show();
            $('#WrapRight').show();
            $('#WrapLeftPE').show();
            $('#WrapRightPE').show();
        }

    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function removeClass(chkid, side) {

        var $span1 = $("#lblnature" + side);
        var $span2 = $("#lblwhich" + side);

        if ($(chkid).prop("checked") == true) {





            $span1.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: "lblnature" + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: "lblwhich" + side,
                    html: this.innerHTML
                });
            });


            //$('#lblnature').removeClass("noprint");
            //$('#lblwhich').removeClass("noprint");
        }
        else {


            var className = 'pain' + side;
            var isCheck = false;



            $("input:checkbox[class=" + className + "]").each(function () {
                if ($("#" + $(this).attr("id")).prop("checked") == true) {
                    isCheck = true;
                }
            });

            if (!isCheck) {


                $span1.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblnature" + side,
                        html: this.innerHTML
                    });
                });


                $span2.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblwhich" + side,
                        html: this.innerHTML
                    });
                });

            }


        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }


    function checkDefault(chk, deafCheck) {

        var isCheck = false;
        var className = "";
        if ($("#" + deafCheck).prop("checked") == false) {

            if ($(chk).prop("checked")) {
                $("#" + deafCheck).attr('checked', 'checked');

            }
        }

        if (deafCheck === "chkcpmL")
            className = "chkelbowpainL";
        else if (deafCheck === "chkkelbowleft")
            className = "chkelbowimproveL";
        else if (deafCheck === "chkcpmR")
            className = "chkelbowpainR";
        else if (deafCheck === "chkkelbowright")
            className = "chkelbowimproveR";

        if ($("#" + deafCheck).prop("checked") == true) {

            if ($(chk).prop("checked") == false) {

                $("input:checkbox[class=" + className+"]").each(function () {
                    if ($("#" + $(this).attr("id")).prop("checked") == true) {
                        isCheck = true;
                    }
                });

                if (!isCheck)
                    $("#" + deafCheck).removeAttr('checked');

            }
        }
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

</script>


