<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Knee Examination:</b> </span><label style="visibility:hidden">#leftkneetitle</label>

        <section>
            <input type="checkbox" id="chkkneerevelLeft" value="Reveals tenderness upon palpation of the " class="nocomma" onclick="checkMe(this)" checked="checked" /> reveals tenderness upon palpation of the

            <input type="text" ID="txtPalpationText1Left" onchange="txtMe(this);" Style="margin-left: 0px;" />
            <input type="text" ID="txtPalpationText2Left" onchange="txtMe(this);" Style="margin-left: 0px;" />
            <input type="checkbox" class="clsrevelL" ID="chkMedialLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="medial" /> medial
            <input type="checkbox" class="clsrevelL" ID="chkLateralLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="lateral" /> lateral
            <input type="checkbox" class="clsrevelL" ID="chkSuperiorLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="superior" /> superior
            <input type="checkbox" class="clsrevelL" ID="chkInferiorLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="inferior" /> inferior
            <input type="checkbox" class="clsrevelL" ID="chkSupermedialLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="superomedial" /> superomedial
            <input type="checkbox" class="clsrevelL" ID="chkSuperoLateralLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="superolateral" /> superolateral
            <input type="checkbox" class="clsrevelL" ID="chkInferomedialLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="inferomedial" /> inferomedial
            <input type="checkbox" class="clsrevelL" ID="chkInferoLateralLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="inferolateral" /> inferolateral
            <input type="checkbox" class="clsrevelL" ID="chkPeripatellarLeft" onclick="checkMe(this);checkDefault(this, 'chkkneerevelLeft');removeClassRegion(this, 'L');" value="peripatellar" checked="checked" /> peripatellar
            <label id="lblregionL">region.</label>

        </section>
        <section style="display:none">
            <br />
            <span class="control-label"><b>Tests:</b></span>
            <input type="checkbox" ID="chkMcMurrayLeft" onclick="checkMe(this)" value="McMurrays" />McMurray
            <input type="checkbox" ID="chkLachmanLeft" onclick="checkMe(this)" value="Lachmans" />Lachman
            <input type="checkbox" ID="chkAnteriorLeft" onclick="checkMe(this)" value="Anterior drawer" />Anterior drawer
            <input type="checkbox" ID="chkPosteriorLeft" onclick="checkMe(this)" value="Posterior drawer" />Posterior drawer
            <input type="checkbox" ID="chkVarusLeft" onclick="checkMe(this)" value="Varus stress" />Varus stress
            <input type="checkbox" ID="chkValgusLeft" onclick="checkMe(this)" value="Valgus stress" />Valgus stress
            <span> test - positive.</span>
        </section>
        <br />

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormL" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <label style="visibility:hidden">#kneeleftrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>


    </div>

    <br />
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Knee Examination:</b> </span><label style="visibility:hidden">#rightkneetitle</label>


        <section>
            <input type="checkbox" id="chkkneerevelRight" value="Reveals tenderness upon palpation of the " class="nocomma" onclick="checkMe(this)" checked="checked" /> reveals tenderness upon palpation of the
            <input type="text" ID="txtPalpationText1Right" onchange="txtMe(this)" Style="margin-Right: 0px;" />
            <input type="text" ID="txtPalpationText2Right" onchange="txtMe(this)" Style="margin-Right: 0px;" />
            <input type="checkbox" class="clsrevelR" ID="chkMedialRight" onclick="checkMe(this); checkDefault(this, 'chkkneerevelRight'); removeClassRegion(this, 'R');" value="medial" /> medial
            <input type="checkbox" class="clsrevelR" ID="chkLateralRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="lateral" /> lateral
            <input type="checkbox" class="clsrevelR" ID="chkSuperiorRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="superior" /> superior
            <input type="checkbox" class="clsrevelR" ID="chkInferiorRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="inferior" /> inferior
            <input type="checkbox" class="clsrevelR" ID="chkSupermedialRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="superomedial" /> superomedial
            <input type="checkbox" class="clsrevelR" ID="chkSuperoLateralRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="superolateral" /> superolateral
            <input type="checkbox" class="clsrevelR" ID="chkInferomedialRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="inferomedial" /> inferomedial
            <input type="checkbox" class="clsrevelR" ID="chkInferoLateralRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="inferolateral" /> inferolateral
            <input type="checkbox" class="clsrevelR" ID="chkPeripatellarRight" onclick="checkMe(this);checkDefault(this, 'chkkneerevelRight');removeClassRegion(this, 'R');" value="peripatellar" checked="checked" /> peripatellar
            <label id="lblregionR">region.</label>


            <br />
        </section>
        <section style="display:none">
            <span class="control-label"><b>Tests: </b></span>
            <input type="checkbox" ID="chkMcMurrayLeft" onclick="checkMe(this)" value="McMurray" /> McMurray
            <input type="checkbox" ID="chkLachmanLeft" onclick="checkMe(this)" value="Lachman" />Lachman
            <input type="checkbox" ID="chkAnteriorLeft" onclick="checkMe(this)" value="Anterior drawer" />Anterior drawer
            <input type="checkbox" ID="chkPosteriorLeft" onclick="checkMe(this)" value="Posterior drawer" />Posterior drawer
            <input type="checkbox" ID="chkVarusLeft" onclick="checkMe(this)" value="Varus stress" />Varus stress
            <input type="checkbox" ID="chkValgusLeft" onclick="checkMe(this)" value="Valgus stress" />Valgus stress
            <span> test - positive.</span>
            <br />
        </section>

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormR" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <label style="visibility:hidden">#kneerightrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>

    </div>

    <br />
    <div id="TestPE">
        <table>
            <tr>
                <td>
                    <input type="checkbox" id="chkMcMurrays" value="McMurrays test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The McMurrays test is&nbsp;

                    <section class="dropdown">
                        <input type="text" id="txtMcMurray" onchange="txtMe(this);selectTestCHK('chkMcMurrays', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtMcMurray', this.value);selectTestCHK('chkMcMurrays', this.value)" id="ddlMcMurray"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
                <td>
                    <input type="checkbox" id="chkLachmans" value="Lachmans test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Lachmans test is&nbsp;


                    <section class="dropdown">
                        <input type="text" id="txtLachman" onchange="txtMe(this);selectTestCHK('chkLachmans', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtLachman', this.value);selectTestCHK('chkLachmans', this.value)" id="ddlLachman"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="chkAD" value="Anterior drawer test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Anterior drawer test is&nbsp;


                    <section class="dropdown">
                        <input type="text" id="txtantdraw" onchange="txtMe(this);selectTestCHK('chkAD', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtantdraw', this.value);selectTestCHK('chkAD', this.value)" id="ddlantdraw"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
                <td>
                    <input type="checkbox" id="chkPD" value="Posterior drawer test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Posterior drawer test is&nbsp;


                    <section class="dropdown">
                        <input type="text" id="txtposdraw" onchange="txtMe(this);selectTestCHK('chkPD', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtposdraw', this.value);selectTestCHK('chkPD', this.value)" id="ddlposdraw"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="chkVAS" value="Varus stress test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Varus stress test is&nbsp;


                    <section class="dropdown">
                        <input type="text" id="txtvarstress" onchange="txtMe(this);selectTestCHK('chkVAS', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtvarstress', this.value);selectTestCHK('chkVAS', this.value)" id="ddlvarstress"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
                <td>
                    <input type="checkbox" id="chkVS" value="Valgus stress test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Valgus stress test is&nbsp;


                    <section class="dropdown">
                        <input type="text" id="txtvalstress" onchange="txtMe(this);selectTestCHK('chkVS', this.value)" />
                        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtvalstress', this.value);selectTestCHK('chkVS', this.value)" id="ddlvalstress"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
                    </section>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>


<script>
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function selectTestCHK(chkid, val) {

        if (val !== '')
            $("#" + chkid).attr("checked", "checked");
        else
            $("#" + chkid).removeAttr("checked");
    }

    function selectVal(txtid, val) {

        $("#" + txtid).attr('value', val);
    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }
    function startButton(event) {
        controlname = "#txtFreeForm";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

</script>
