<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <span id="lblpain1">The patient complains of low back pain that is </span>
        <input type="text" id="txtPainScale" style="width:40px;text-align:left" class="paincls" value="" onchange="txtMe(this); removePainClass(this)" />
        <span id="lblpain2">/10, with 10 being the worst</span>
        <span class="noprint" id="lblwhich">, which is </span>
        <input id="chkcontent" type="checkbox" value="constant" class="painclass" onclick="checkMe(this); removeClass(this);" /> constant
        <input id="chkintermittent" type="checkbox" class="painclass" value="intermittent" onclick="checkMe(this); removeClass(this);" /> intermittent
        <input id="chksharp" type="checkbox" value="sharp" class="painclass" onclick="checkMe(this); removeClass(this);" /> sharp

        <input id="chkelectric" type="checkbox" value="electric" class="painclass" onclick="checkMe(this); removeClass(this);" /> electric
        <input id="chkshooting" type="checkbox" value="shooting" class="painclass" onclick="checkMe(this); removeClass(this);" /> shooting
        <input id="chkthrobbling" type="checkbox" value="throbbing" class="painclass" onclick="checkMe(this); removeClass(this);" /> throbbing

        <input id="chkpulsating" type="checkbox" value="pulsating" class="painclass" onclick="checkMe(this); removeClass(this);" /> pulsating
        <input id="chkdull" type="checkbox" value="dull" class="painclass" onclick="checkMe(this); removeClass(this);" /> dull
        <input id="chkachy" type="checkbox" value="achy" class="painclass" onclick="checkMe(this); removeClass(this);" /> achy
        <span class="noprint" id="lblnature"> in nature</span>
        <span id="lblpain3">.</span>
        <br />
        <input id="txtradiates" style="visibility:hidden" />
        <input id="txtburningTo" style="visibility:hidden" /><br />
        <input type="checkbox" id="chkLowbackpain2" value="Low back pain radiates to  " class="nocomma" onclick="checkMe(this); disableTable(this, 'tblLB1');" /> Low back pain radiates to

        <input id="txtRadiant" type="text" style="width:700px;text-align:left" value="" onchange="txtMe(this); " />

        <table class="table" id="tblLB1">
            <thead>
                <tr>
                    <th>
                        <img style="height:30px;width:30px" src="img/reset.png" onclick="referce1()" />
                    </th>
                    <th class="table_cell">
                        <span>Side </span>
                    </th>
                    <th class="table_cell">
                        <span>Buttock </span>
                    </th>
                    <th class="table_cell">
                        <span>Groin </span>
                    </th>
                    <th class="table_cell">
                        <span>Hip </span>
                    </th>
                    <th class="table_cell">
                        <span>Thigh </span>
                    </th>
                    <th class="table_cell">
                        <span>Leg</span>
                    </th>
                    <th class="table_cell">
                        <span>Knee </span>
                    </th>
                    <th class="table_cell">
                        <span>Ankle</span>
                    </th>
                    <th class="table_cell">
                        <span>Feet</span>
                    </th>
                    <th class="table_cell">
                        <span>Toe</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="">Left</td>
                    <td class="table_cell">
                        <input type='radio' ID="chkSideLeft1" name="RSH" value="left side" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkButtockLeft1" name="RSC" value="left buttock" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkGroinLeft1" name="RAR" value="left groin" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkHipLeft1" name="RFA" value="left hip" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkThighLeft1" name="RHA" value="left thigh" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkLegLeft1" name="RWR" value="left leg" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkKneeLeft1" name="R1D" value="left knee" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkAnkleLeft1" name="R2D" value="left ankle" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkFeetLeft1" name="R3D" value="left foot" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkToeLeft1" name="R4D" value="left toe" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td style="">Right</td>
                    <td class="table_cell">
                        <input type='radio' ID="chkSideRight1" name="RSH" value="right side" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkButtockRight1" name="RSC" value="right buttock" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkGroinRight1" name="RAR" value="right groin" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkHipRight1" name="RFA" value="right hip" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkThighRight1" name="RHA" value="right thigh" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkLegRight1" name="RWR" value="right leg" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkKneeRight1" name="R1D" value="right knee" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkAnkleRight1" name="R2D" value="right ankle" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkFeetRight1" name="R3D" value="right foot" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkToeRight1" name="R4D" value="right toe" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td style="">Bilateral</td>
                    <td class="table_cell">
                        <input type='radio' ID="chkSideBilateral1" name="RSH" value="bilateral sides" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkButtockBilateral1" name="RSC" value="bilateral buttocks" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkGroinBilateral1" name="RAR" value="bilateral groins" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkHipBilateral1" name="RFA" value="bilateral hips" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkThighBilateral1" name="RHA" value="bilateral thighs" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkLegBilateral1" name="RWR" value="bilateral legs" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkKneeBilateral1" name="R1D" value="bilateral knees" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkAnkleBilateral1" name="R2D" value="bilateral ankles" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkFeetBilateral1" name="R3D" value="bilateral feet" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkToeBilateral1" name="R4D" value="bilateral toes" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td style="">None</td>
                    <td class="table_cell">
                        <input type='radio' ID="chkSide1None" name="RSH" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkButtock1None" name="RSC" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkGroin1None" name="RAR" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkHip1None" name="RFA" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkThigh1None" name="RHA" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkLeg1None" name="RWR" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkKnee1None" name="R1D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkAnkle1None" name="R2D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkFeet1None" name="R3D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type='radio' ID="chkToe1None" name="R4D" value="" onclick="checkMe(this)" />
                    </td>
                </tr>
            </tbody>
        </table>
        <label style="visibility:hidden">.</label>

        <input type="checkbox" id="chkLowbackpain4" value="Low back pain is associated with " class="nocomma" onclick="checkMe(this);disableTable(this, 'tblLB2');" />
        &nbsp;Low back pain is associated with
        <input type="checkbox" id="chknumbness" class="chkbackpain" onclick="checkMe(this); checkDefault(this,'chkLowbackpain4')" value="numbness" /> numbness
        <input type="checkbox" id="chktingling" class="chkbackpain" onclick="checkMe(this); checkDefault(this,'chkLowbackpain4')" value="tingling" /> tingling
        <input type="checkbox" id="chkburning" class="chkbackpain" onclick="checkMe(this); checkDefault(this,'chkLowbackpain4')" value="burning sensation" /> burning sensation
        <div style="display:none">
            <input type="checkbox" id="chkelectric1" onclick="checkMe(this)" value="electric" />electric
            <input type="checkbox" id="chkpinsneedles" onclick="checkMe(this)" value="pins and needles" />pins & needles
        </div>
        <span id="spanTo"> to </span>
        <input id="txtRadiant2" type="text" style="width:370px;text-align:left" value="" onchange="txtMe(this); " />

        <br />
        <table class="table" id="tblLB2">
            <thead>
                <tr>
                    <th>
                        <img style="height:30px;width:30px" src="img/reset.png" onclick="referce2()" />
                        <!--<asp:ImageButton id="btnReset1" Height="30px" Width="30px"  ImageUrl="~/img/reset.png" OnClick="btnReset1_Click" />-->
                    </th>
                    <th class="table_cell">
                        <span>Side </span>
                    </th>
                    <th class="table_cell">
                        <span>Buttock </span>
                    </th>
                    <th class="table_cell">
                        <span>Groin </span>
                    </th>
                    <th class="table_cell">
                        <span>Hip </span>
                    </th>
                    <th class="table_cell">
                        <span>Thigh </span>
                    </th>
                    <th class="table_cell">
                        <span>Leg</span>
                    </th>
                    <th class="table_cell">
                        <span>Knee </span>
                    </th>
                    <th class="table_cell">
                        <span>Ankle </span>
                    </th>
                    <th class="table_cell">
                        <span>Feet</span>
                    </th>
                    <th class="table_cell">
                        <span>Toe</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Left</td>
                    <td class="table_cell">
                        <input type="radio" id="chkSideLeft2" name="ASH" value="left side" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkButtockLeft2" name="ASC" value="left buttock" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkGroinLeft2" name="AAR" value="left groin" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkHipLeft2" name="AFA" value="left hip" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkThighLeft2" name="AHA" value="left thigh" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkLegLeft2" name="AWR" value="left leg" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkKneeLeft2" name="A1D" value="left knee" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkAnkleLeft2" name="A2D" value="left ankle" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkFeetLeft2" name="A3D" value="left foot" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkToeLeft2" name="A4D" value="left toe" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td>Right</td>
                    <td class="table_cell">
                        <input type="radio" id="chkSideRight2" name="ASH" value="right side" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkButtockRight2" name="ASC" value="right buttock" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkGroinRight2" name="AAR" value="right groin" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkHipRight2" name="AFA" value="right hip" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkThighRight2" name="AHA" value="right thigh" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkLegRight2" name="AWR" value="right leg" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chk1stDigitRight2" name="A1D" value="right knee" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chk2ndDigitRight2" name="A2D" value="right ankle" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chk3rdDigitRight2" name="A3D" value="right foot" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chk4thDigitRight2" name="A4D" value="right toe" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td>Bilateral</td>
                    <td class="table_cell">
                        <input type="radio" id="chkSideBilateral2" name="ASH" value="bilateral sides" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkButtockBilateral2" name="ASC" value="bilateral buttocks" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkGroinBilateral2" name="AAR" value="bilateral groins" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkHipBilateral2" name="AFA" value="bilateral hips" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkThighBilateral2" name="AHA" value="bilateral thighs" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkLegBilateral2" name="AWR" value="bilateral legs" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkKneeBilateral2" name="A1D" value="bilateral knees" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkAnkleBilateral2" name="A2D" value="bilateral ankles" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkFeetBilateral2" name="A3D" value="bilateral feet" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkToeBilateral2" name="A4D" value="bilateral toes" onclick="checkMe(this)" />
                    </td>
                </tr>
                <tr>
                    <td>None</td>
                    <td class="table_cell">
                        <input type="radio" id="chkSide2None" name="ASH" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkButtock2None" name="ASC" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkGroin2None" name="AAR" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkHip2None" name="AFA" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkThigh2None" name="AHA" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkLeg2None" name="AWR" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkKnee2None" name="A1D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkAnkle2None" name="A2D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkFeet2None" name="A3D" value="" onclick="checkMe(this)" />
                    </td>
                    <td class="table_cell">
                        <input type="radio" id="chkToe2None" name="A4D" value="" onclick="checkMe(this)" />
                    </td>
                </tr>
            </tbody>
        </table>
        <label style="visibility:hidden">.</label>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-9" style="margin-top: 5px">
            <input type="checkbox" id="chkLowbackpain21" value="Low back pain is associated with weakness in " class="nocomma" onclick="checkMe(this)" />&nbsp;Low back pain is associated with weakness in

            <input type="text" id="txtPainWeaknesIn" style="width:240px;" onchange="txtMe(this);" />
            <label>.</label>
            <input type="checkbox" id="chklbackpainwors" value="Low back pain is worsened with " class="nocomma" onclick="checkMe(this)" /> Low back pain is worsened with

            <input type="checkbox" id="chkworsesitting" value="sitting" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> sitting,&nbsp;
            <input type="checkbox" id="chkworsestanding" value="standing" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> standing,&nbsp;
            <input type="checkbox" id="chkWorsebendingforward" class="chkpainL" value="bending forward" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> bending forward,&nbsp;
            <input type="checkbox" id="chkWorsebendingbackwards" value="bending backwards" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> bending backwards,&nbsp;
            <input type="checkbox" id="chkworsesleeping" value="sleeping" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> sleeping,&nbsp;
            <input type="checkbox" id="chkworsetwistingright" value="twisting right" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> twisting right,&nbsp;
            <input type="checkbox" id="chkworsetwistingleft" value="twisting left" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> twisting left,&nbsp;
            <input type="checkbox" id="chkworselifting" value="lifting" class="chkpainL" onclick="checkMe(this);checkDefault(this, 'chklbackpainwors');" /> lifting&nbsp;


            <input type="text" id="txtworsend2" style="width:240px;" onchange="txtMe(this);" />
            <label>.</label>
            <input type="checkbox" id="chkLowbackpain22" value="The lower back pain is improved with " class="nocomma" onclick="checkMe(this)" /> The lower back pain is improved with

            <input type="checkbox" id="chkImprovedResting" value="resting" class="chkimproveL" onclick="checkMe(this);checkDefault(this, 'chkLowbackpain22');" /> resting,&nbsp;
            <input type="checkbox" id="chkImprovedMedication" value="medication" class="chkimproveL" onclick="checkMe(this);checkDefault(this, 'chkLowbackpain22');" /> medication,&nbsp;
            <input type="checkbox" id="chkImprovedTherapy" value="therapy" class="chkimproveL" onclick="checkMe(this);checkDefault(this, 'chkLowbackpain22');" /> therapy,&nbsp;
            <input type="checkbox" id="chkImprovedSleeping" value="sleeping" class="chkimproveL" onclick="checkMe(this);checkDefault(this, 'chkLowbackpain22');" /> sleeping,&nbsp;
            <input type="checkbox" id="chkImprovedMovement" value="movement" class="chkimproveL" onclick="checkMe(this);checkDefault(this, 'chkLowbackpain22');" /> movement&nbsp;
            <input type="text" id="txtworsend3" style="width:240px;" onchange="txtMe(this);" />
            <label>.</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="control-label">Notes</span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <textarea id="txtFreeFormCC" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
        <button type="button" id="start_button1" onclick="startButton1(event)">
            <img src="images/mic.gif" alt="start" />
        </button>
        <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
    </div>
</div>
<script>



    function removePainClass(txtId) {

        var $span1 = $("#lblpain1");
        var $span2 = $("#lblpain2");
        var $span3 = $("#lblpain3");



        if ($(txtId).val() !== '') {



            $span1.replaceWith(function () {
                return $('<label/>', {
                    Id: 'lblpain1',
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain2',
                    html: this.innerHTML
                });
            });

            $span3.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain3',
                    html: this.innerHTML
                });
            });


            //$('#lblnature').removeClass("noprint");
            //$('#lblwhich').removeClass("noprint");
        }
        else {



            $span1.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain1',
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain2',
                    html: this.innerHTML
                });
            });
            $span3.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain3',
                    html: this.innerHTML
                });
            });

        }

    }

    window.load = disableTableDefault();

    function disableTableDefault() {
        if ($('#chkLowbackpain2').prop("checked")) {
            $('#tblLB1').find("*").removeAttr("disabled");

        }
        else {
            $('#tblLB1').find("*").attr("disabled", "disabled");

        }

        if ($('#chkLowbackpain4').prop("checked")) {
            $('#tblLB2').find("*").removeAttr("disabled");
        }
        else
            $('#tblLB2').find("*").attr("disabled", "disabled");
    }

    function removeClass(chkid) {
        var $span1 = $("#lblnature");
        var $span2 = $("#lblwhich");

        if ($(chkid).prop("checked") == true) {


            $span1.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: 'lblnature',
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: 'lblwhich',
                    html: this.innerHTML
                });
            });


        }
        else {


            var className = 'painclass';
            var isCheck = false;



            $("input:checkbox[class=" + className + "]").each(function () {
                if ($("#" + $(this).attr("id")).prop("checked") == true) {
                    isCheck = true;
                }
            });

            if (!isCheck) {


                $span1.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblnature",
                        html: this.innerHTML
                    });
                });


                $span2.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblwhich",
                        html: this.innerHTML
                    });
                });


            }

        }
    }


    function disableTable(txt, chkid) {
        //var val = $(txt).val();



        //if (val === '')
        //    $('#' + chkid).find("*").removeAttr("disabled");
        //else
        //    $('#' + chkid).find("*").attr("disabled", "disabled");



        if ($(txt).prop("checked") == true) {
            $('#' + chkid).find("*").removeAttr("disabled");
            var $span = $("#spanTo");
            $span.replaceWith(function () {
                return $('<label/>', {

                    html: this.innerHTML
                });
            });

          
        }
        else {
            $('#' + chkid).find("*").attr("disabled", "disabled");

            if (chkid === 'tblLB1') {
                referce1();
                $('#txtFreeFormCC').attr('value', "");
            }
            if (chkid === 'tblLB2')
                referce2();
        }
    }

    function checkDefault(chk, deafCheck) {

        debugger


        var isCheck = false;
        var className = "";
        if ($("#" + deafCheck).prop("checked") == false) {

            if ($(chk).prop("checked")) {
                $("#" + deafCheck).attr('checked', 'checked');

            }
        }


        if (deafCheck === "chklbackpainwors")
            className = "chkpainL";
        else if (deafCheck === "chkLowbackpain22")
            className = "chkimproveL";
        else if (deafCheck === "chkLowbackpain4")
            className = "chkbackpain";




        if ($("#" + deafCheck).prop("checked") == true) {




            if ($(chk).prop("checked") == false) {

                $("input:checkbox[class=" + className + "]").each(function () {
                    if ($("#" + $(this).attr("id")).prop("checked") == true) {
                        isCheck = true;
                    }
                });

                if (!isCheck)
                    $("#" + deafCheck).removeAttr('checked');

            }
        }
    }

    function referce1() {


        $("input[name*='RSH']").removeAttr("checked");
        $("input[name*='RSC']").removeAttr("checked");
        $("input[name*='RAR']").removeAttr("checked");
        $("input[name*='RFA']").removeAttr("checked");
        $("input[name*='RHA']").removeAttr("checked");
        $("input[name*='RWR']").removeAttr("checked");
        $("input[name*='R1D']").removeAttr("checked");
        $("input[name*='R2D']").removeAttr("checked");
        $("input[name*='R3D']").removeAttr("checked");
        $("input[name*='R4D']").removeAttr("checked");
        //$("input[name*='R5D']").prop('checked', false);
        //$("input[name='RSH']").prop('checked', false);
    }

    function referce2() {


        $("input[name*='ASH']").removeAttr("checked");
        $("input[name*='ASC']").removeAttr("checked");
        $("input[name*='AAR']").removeAttr("checked");
        $("input[name*='AFA']").removeAttr("checked");
        $("input[name*='AHA']").removeAttr("checked");
        $("input[name*='AWR']").removeAttr("checked");
        $("input[name*='A1D']").removeAttr("checked");
        $("input[name*='A2D']").removeAttr("checked");
        $("input[name*='A3D']").removeAttr("checked");
        $("input[name*='A4D']").removeAttr("checked");
        //$("input[name*='A5D']").prop('checked', false);
        //$("input[name='RSH']").prop('checked', false);
    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }
    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }


    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }
</script>
