<div class="row">
    <div class="col-md-12">
        <span class="control-label">Date: #date</span>
    </div>
    <div class="col-md-12" style="margin-top: 5px">
        <p>
            I,<u>#pname</u>, hereby authorize <b>Anjani Sinha Medical PC</b> to
            use my signature as signed below for the following documents:
        </p>
        <ol>
            <li>NY Motor Vehicle No-Fault AOB Form </li>
            <li>NYS Form NF-2  </li>
            <li>NYS Form NF-3  </li>
            <li>Disclosure of Physician Ownership </li>
            <li>Fee Guarantee Agreement  </li>
            <li>Letter to Attorney (LIEN Form)  </li>
            <li>HIPAA (OCA official Form N0.: 960)   </li>
        </ol>
    </div>
</div>

