<div id="bodyui" style="margin-top: 15px">
    <label>
        <!--Past Medical History-->PMH
    </label>
    <p class="inline">
        <section class="dropdown" style="width:200px">
            <input type="text" id="txt_PMH" value="Noncontributory" onchange="txtMe(this);selectVal('txt_PMH', this.value)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txt_PMH', this.value)" id="ddl_phm">
                <option selected="selected">Noncontributory</option>
                <option>Positive for</option>

            </select>
        </section>
&nbsp;&nbsp;
    
        <!--<input type='text' ID="PMH" value="Noncontributory" onchange="txtMe(this)" />-->
        <label><!--Past Surgical History-->PSH </label>
        <input type='text' id="PSH" value="Noncontributory" onchange="txtMe(this)" />
&nbsp;&nbsp;
        <label>
            <!--Family History-->FH
        </label>
        <input type='text' ID="FamilyHistory" value="Noncontributory" onchange="txtMe(this)" />
    </p>
        <label>&nbsp;&nbsp; Allergies </label>
        <input type='text' id="Allergies" value="No known drug allergies" onchange="txtMe(this)" />
        

        <label>&nbsp;&nbsp;
            Medication
        </label>
        <input type='text' ID="Medication" value="None" onchange="txtMe(this)" />
        

        <!--<label>.</label>-->
        <br />


</div>

<script type="text/javascript">


    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }


</script>