<h4 class="labelcolor">Review Of Systems:</h4>


<div class="form-horizontal">
    <div class="span3">
        <input type='checkbox' TabIndex="1" ID="chk_Headaches" Value="headaches" onclick="checkMe(this)" />&nbsp;Headaches
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="2" ID="chk_Chest_pain_short_of_breath" Value="chest pain/shortness of breath" onclick="checkMe(this)" />&nbsp;Chest pain/Shortness of Breath
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="3" ID="chk_Abdominal_Pain" Value="abdominal pain" onclick="checkMe(this)" />&nbsp;Abdominal Pain
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="4" ID="chk_Muscle_Spasms" Value="muscle spasms" onclick="checkMe(this)" />&nbsp;Muscle Spasms
    </div>
    <div style="clear: both"></div>
</div>
<div class="form-horizontal">
    <div class="span3">
        <input type='checkbox' TabIndex="5" ID="chk_Dizziness" Value="dizziness" onclick="checkMe(this)" />&nbsp;Dizziness
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="6" ID="chk_Nausea" Value="nausea" onclick="checkMe(this)" />&nbsp;Nausea
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="7" ID="chk_Ringing_in_ears" Value="ringing in ears" onclick="checkMe(this)" />&nbsp;Ringing in ears
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="8" ID="chk_Bladder_Incontinence" Value="bladder incontinence" onclick="checkMe(this)" />&nbsp;Bladder Incontinence
    </div>
    <div style="clear: both"></div>
</div>
<div class="form-horizontal">
    <div class="span3">
        <input type='checkbox' TabIndex="9" ID="chk_Bowel_Incontinence" Value="bowel incontinence" onclick="checkMe(this)" />&nbsp;Bowel Incontinence
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="10" ID="chk_seizures" Value="seizure history" onclick="checkMe(this)" />&nbsp;seizure
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="11" ID="chk_Sleep_Issues_difficulty" Value="sleep issues/difficulty" onclick="checkMe(this)" />&nbsp;Sleep Issues/difficulty
    </div>
    <div class="span3">
        <input type='checkbox' TabIndex="12" ID="chk_Anxiety_Depression" Value="anxiety/depression" onclick="checkMe(this)" />&nbsp;Anxiety/Depression
    </div>
    <div style="clear: both"></div>
</div>


<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>


<script type="text/javascript">



    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }


</script>
