<div id="bodyui" style="margin-top: 15px">

    <div class="col-md-12">


        <p class="inline">
            <input type='checkbox' ID="chk_headinjury" value="Head Injury" onclick="checkMe(this)" />&nbsp;Head injury&nbsp;
            <input type='checkbox' ID="chk_loc" value="LOC" onclick="checkMe(this)" />&nbsp;LOC
            &nbsp;If LOC, then for how long?
            <input type="text" id="txt_howlong" onchange="txtMe(this)" />.
            <section class="dropdown" style="width:150px">
                <input type="text" id="txthowlong" onchange="txtMe(this)" value="undetermined time" />
                <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txthowlong', this.value)" id="ddl_howlong">
                    <option value="undetermined time" selected="selected">undetermined time</option>
                    <option value="seconds">seconds</option>
                    <option value="minutes">minutes</option>
                    <option value="hours">hours</option>
                </select>
            </section>
        </p>

        <p class="inline">
            Have you seen any doctor for this injury?
            <input type="radio" id="rdbdocno" Value="no" name="seendoctor" checked="checked" onclick="checkMe(this)" />No
            <input type="radio" id="rdbdocyes" Value="yes" name="seendoctor" onclick="checkMe(this)" />Yes
            &nbsp;&nbsp;If yes, name and address of the doctor&nbsp;<input type="text" id="txt_docname" onchange="txtMe(this)" disabled="disabled" />.
        </p>

        <p>
            Have you been injured in the past?
            <input type="radio" id="rdbinjuno" Value="no" name="injpast" checked="checked" onclick="checkMe(this)" />No
            <input type="radio" id="rdbinjuyes" Value="yes" name="injpast" onclick="checkMe(this)" />Yes&nbsp;&nbsp;
            If yes, which body part
            <input type="text" id="txt_injur_past_bp" onchange="txtMe(this)" disabled="disabled" />
            and how
            <input type="text" id="txt_injur_past_how" onchange="txtMe(this)" disabled="disabled" />

        </p>

        <!--<p>
            <input type='checkbox' ID="chkComplainingofHeadaches" onclick="checkMe(this)" value="The patient is complaining of headaches as a result of the accident." />
            The patient is complaining of headaches as a result of the accident. The headaches started after the accident and are
            <input type='text' ID="txtPersistent" value="intermittent" onchange="txtMe(this)">.
            <input type='checkbox' ID="chkHeadechesAssociated" onclick="checkMe(this)" value="The headaches are associated with nausea and dizziness." />The headaches are associated with nausea and dizziness.
            The headaches are
            <input type='checkbox' ID="chkfrontal" value="frontal" onclick="checkMe(this)" />frontal
            <input type='checkbox' ID="chkLeftParietal" value="left Parietal" onclick="checkMe(this)" />left parietal
            <input type='checkbox' ID="chkRightParietal" value="right Parietal" onclick="checkMe(this)" />right parietal
            <input type='checkbox' ID="chkLeftTemporal" value="left Temporal" onclick="checkMe(this)" />left temporal
            <input type='checkbox' ID="chkRightTemporal" value="right Temporal" onclick="checkMe(this)" />right temporal
            <input type='checkbox' ID="chkOccipital" value="occipital" onclick="checkMe(this)" />occipital
            <input type='checkbox' ID="chkGlobal" value="global" onclick="checkMe(this)" />global.
        </p>

        <p style="display:none">
            <label>The patient reports </label>


            <input type='checkbox' ID="chkAnxiety" value="Anxiety" onclick="checkMe(this)" /> Anxiety
            <input type='checkbox' ID="chknausea" value="nausea" onclick="checkMe(this)" /> nausea
            <input type='checkbox' ID="chkdizziness" value="dizziness" onclick="checkMe(this)" /> dizziness
            <input type='checkbox' ID="chkvomiting" value="vomiting" onclick="checkMe(this)" /> vomiting.

        </p>-->


<textarea Style="float: left;Width:650px" ID="txt_accident_desc_3" onchange="txtAreaMe(this)">
</textarea>


        <div class="clearfix"></div>


    </div>

</div>
</div>
<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>
<script type="text/javascript">

    window.load = PopulateDropDownList();

    function PopulateDropDownList() {


        // var ddl_accident_desc = document.getElementById("ddl_accident_desc");
        // var ddl_belt = document.getElementById("ddl_belt");
        // var ddl_invovledin = document.getElementById("ddl_invovledin");
        // var ddl_EMS = document.getElementById("ddl_EMS");
        //var ddl_via = document.getElementById("ddl_via");
        //var ddl_work_status = document.getElementById("ddl_work_status");
        // var cboReturnedToWork = document.getElementById("cboReturnedToWork");
        //var ddl_howlong = document.getElementById("ddl_howlong");

        //   ddl_accident_desc.options.length = 0;
        //ddl_belt.options.length = 0;
        // ddl_invovledin.options.length = 0;
        //ddl_EMS.options.length = 0;
        //  ddl_via.options.length = 0;
        //ddl_work_status.options.length = 0;
        //cboReturnedToWork.options.length = 0;
        //ddl_howlong.options.length = 0;



        $.get('/xml/HSMData.xml', function (res) {

            //var $xml = $(xmlDoc);
            debugger;
            // Find Person Tag
            var Rom = $(res).find("HSM");

            //var Sustaineds = Rom.find("Sustaineds");

            //var Sustained = Sustaineds.find("Sustained");


            //for (var i = 0; i < Sustained.length; i++) {
            //    var option = document.createElement("option");

            //    option.text = Sustained[i].getAttribute('name');

            //    ddl_accident_desc.options.add(option);

            //}

            //var WasAts = Rom.find("WasAts");

            //var WasAt = WasAts.find("WasAt");


            //for (i = 0; i < WasAt.length; i++) {
            //    option = document.createElement("option");

            //    option.text = WasAt[i].getAttribute('name');

            //    ddl_belt.options.add(option);

            //}

            //var InvolvedIns = Rom.find("InvolvedIns");

            //var InvolvedIn = InvolvedIns.find("InvolvedIn");


            //for (i = 0; i < InvolvedIn.length; i++) {
            //    option = document.createElement("option");

            //    option.text = InvolvedIn[i].getAttribute('name');

            //    ddl_invovledin.options.add(option);

            //}

            //var ESMTeams = Rom.find("ESMTeams");

            //var ESMTeam = ESMTeams.find("ESMTeam");


            //for (i = 0; i < ESMTeam.length; i++) {
            //    option = document.createElement("option");

            //    option.text = ESMTeam[i].getAttribute('name');

            //    ddl_EMS.options.add(option);

            //}

            //  var Vias = Rom.find("Vias");

            //  var Via = Vias.find("Via");


            //  for (i = 0; i < Via.length; i++) {
            //      option = document.createElement("option");

            //      option.text = Via[i].getAttribute('name');

            //      ddl_via.options.add(option);

            //  }

            //var WorksAts = Rom.find("WorksAts");

            //var WorksAt = WorksAts.find("WorksAt");


            //for (i = 0; i < WorksAt.length; i++) {
            //    option = document.createElement("option");

            //    option.text = WorksAt[i].getAttribute('name');

            //    ddl_work_status.options.add(option);

            //}

            //var WorkStatuss = Rom.find("WorkStatuss");

            //var WorkStatus = WorkStatuss.find("WorkStatus");


            //for (i = 0; i < WorkStatus.length; i++) {
            //    option = document.createElement("option");

            //    option.text = WorkStatus[i].getAttribute('name');

            //    cboReturnedToWork.options.add(option);

            //}

            //var Times = Rom.find("Times");

            //var Time = Times.find("Time");


            //for (i = 0; i < Time.length; i++) {
            //    option = document.createElement("option");

            //    option.text = Time[i].getAttribute('name');

            //    ddl_howlong.options.add(option);

            //}

        });
    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectVal(txtid, val) {
        $("#" + txtid).attr('value', val);
    }

    function txtAreaMe(txt) {
        var val = $(txt).val();
        $(txt).text(val);
    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    $(document).ready(function () {
        $("input[name=seendoctor]").click(function (e) {
            if ($("input[name=seendoctor]:checked").val() === "yes") {
                $("#txt_docname").removeAttr("disabled");
                // do your removeClass
            } else {
                $("#txt_docname").attr("disabled", "disbled");
                // do your addClass
            }
        });

        $("input[name=injpast]").click(function (e) {
            if ($("input[name=injpast]:checked").val() === "yes") {
                $("#txt_injur_past_bp").removeAttr("disabled");
                $("#txt_injur_past_how").removeAttr("disabled");
                // do your removeClass
            } else {
                $("#txt_injur_past_bp").attr("disabled", "disbled");
                $("#txt_injur_past_how").attr("disabled", "disbled");
                // do your addClass
            }
        });

        $("input[name=wanttohosp]").click(function (e) {



            if ($("input[name=wanttohosp]:checked").val() === "yes") {
                $("#txt_day").removeAttr("disabled");

            } else {
                $("#txt_day").attr("disabled", "disbled");

            }
        });

        $("input[name=hos]").click(function (e) {
            if ($("input[name=hos]:checked").val() === "yes") {
                $("#txt_hospital").removeAttr("disabled");
                $("#txt_mri").removeAttr("disabled");
                $("#txt_CT").removeAttr("disabled");
                $("#txt_x_ray").removeAttr("disabled");
                $("#txt_prescription").removeAttr("disabled");

            } else {
                $("#txt_hospital").attr("disabled", "disbled");
                $("#txt_mri").attr("disabled", "disbled");
                $("#txt_CT").attr("disabled", "disbled");
                $("#txt_x_ray").attr("disabled", "disbled");
                $("#txt_prescription").attr("disabled", "disbled");

            }
        });

    });



</script>
