<table width="100%" style="border-bottom:1px solid black">
    <tr>
        <td>Patient: #patient </td>
        <td>Date: #date</td>
        <td>DOB: #dob</td>
    </tr>
</table>
<table width="100%" style="border-bottom:1px solid black;font-size:11px">
    <tr>
        <td rowspan="10" style="width:150px;text-align:center">Cervical Spine<br />1-8<br />(Check if all apply) </td>
        <td><u>&nbsp;&nbsp;&nbsp;#c01&nbsp;&nbsp;&nbsp;</u>1. Hot pack x 15 minutes</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c02&nbsp;&nbsp;&nbsp;</u> 2. Ultra Sound 1Mhz; 50% Pulsed; 1.0 W/cm 2x7 minutes</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c03&nbsp;&nbsp;&nbsp;</u>3. Electrical stimulation Monophasic(High Volt); continuous; fixed; 100 Hz x 15</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c04&nbsp;&nbsp;&nbsp;</u>4. AROM (with gentle stretching at the end point)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c05&nbsp;&nbsp;&nbsp;</u> 5. Massage Neck and Upper Back areas, and myofascial release</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c06&nbsp;&nbsp;&nbsp;</u> 6. Progress to isometric exercises (flexion, extension, side bending and rotation)</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c07&nbsp;&nbsp;&nbsp;</u> 7. Progress to isotonic strengthening exercise on multineck station)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c08&nbsp;&nbsp;&nbsp;</u> 8. Teach home exercise program</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c09&nbsp;&nbsp;&nbsp;</u> 9. Neuromuscular re-education</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#c10&nbsp;&nbsp;&nbsp;</u> 10. Others</td>
    </tr>

</table>

<table width="100%" style="border-bottom:1px solid black;font-size:11px">
    <tr>
        <td rowspan="14" style="width:150px;text-align:center">Lumbar Spine<br />1-10<br />(Check if all apply) </td>
        <td><u>&nbsp;&nbsp;&nbsp;#l01&nbsp;&nbsp;&nbsp;</u>1. Hot pack x 15 minutes</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l02&nbsp;&nbsp;&nbsp;</u> 2. Ultra Sound 1Mhz; 50% Pulsed; 1.0 W/cm 2x7 minutes</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l03&nbsp;&nbsp;&nbsp;</u>3. Elect. Stim Quadropolar interferential fixed 0 Hz x 3 min; followed by scan 80-150 Hz <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15 min. After 2 weeks of treatment switch to bipolar interferential scan 80-150 Hz x  15 min.</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l04&nbsp;&nbsp;&nbsp;</u>4.AROM (with gentle stretching at the end point)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l05&nbsp;&nbsp;&nbsp;</u> 5. Trail of traction on traction table (weight is equal to 1/2 of the body weight) x 10 mins.</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l06&nbsp;&nbsp;&nbsp;</u> 6. Abdominal muscle strengthening exercise with the pelvic tilt.</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l07&nbsp;&nbsp;&nbsp;</u> 7. Stretching exercise (knee- to chest, hip flexors, hamstrings).</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l08&nbsp;&nbsp;&nbsp;</u> 8. Progress to extension strengthening exercise on isotonic station (weight as tolerated)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l09&nbsp;&nbsp;&nbsp;</u> 9. Back school</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l10&nbsp;&nbsp;&nbsp;</u> 10. Teach home exercise program</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l11&nbsp;&nbsp;&nbsp;</u> 11. Trail of T.E.N.S unit application for pain control.</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l12&nbsp;&nbsp;&nbsp;</u> 12. Neuromuscular re-education</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l13&nbsp;&nbsp;&nbsp;</u> 13. Massage Lower Back areas, and myofascial release</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#l14&nbsp;&nbsp;&nbsp;</u> 14. Others</td>
    </tr>

</table>

<table width="100%" style="border-bottom:1px solid black;font-size:11px">
    <tr>
        <td rowspan="10" style="width:150px;text-align:center">#shoulderaspect<br />1-6<br />(Check if all apply) </td>
        <td><u>&nbsp;&nbsp;&nbsp;#s01&nbsp;&nbsp;&nbsp;</u>1. Hot pack x 15 minutes. May alternate with infrared lamp.</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s02&nbsp;&nbsp;&nbsp;</u>2. Cold Pack</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s03&nbsp;&nbsp;&nbsp;</u>3. Electrical stimulation</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s04&nbsp;&nbsp;&nbsp;</u> 4. Ultra Sound 1Mhz; 50% Pulsed; 1.0 W/cm 2x7 minutes</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s05&nbsp;&nbsp;&nbsp;</u>5. ROM exercises (pendulum, wall finger climbing, etc)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s06&nbsp;&nbsp;&nbsp;</u> 6. Isometric exercises (abduction, adduction, flexion, extension, internal and external rotations) </td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s07&nbsp;&nbsp;&nbsp;</u> 7. Progress to resistive exercises with rubber band and/or column station.</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s08&nbsp;&nbsp;&nbsp;</u> 8. Teach home exercise program</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s09&nbsp;&nbsp;&nbsp;</u> 9. Neuromuscular re-education</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#s10&nbsp;&nbsp;&nbsp;</u> 10. Others</td>
    </tr>

</table>


<table width="100%" style="border-bottom:1px solid black;font-size:11px">
    <tr>
        <td rowspan="10" style="width:150px;text-align:center">#kneeaspect<br />1-7<br />(Check if all apply) </td>
        <td><u>&nbsp;&nbsp;&nbsp;#k01&nbsp;&nbsp;&nbsp;</u>1. Hot pack x 15 minutes.</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k02&nbsp;&nbsp;&nbsp;</u>2. Cold Pack</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k03&nbsp;&nbsp;&nbsp;</u>3. Electrical stimulation</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k04&nbsp;&nbsp;&nbsp;</u> 4. Ultra Sound 1Mhz; 50% Pulsed; 1.0 W/cm 2x7 minutes</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k05&nbsp;&nbsp;&nbsp;</u>5. ROM exercises (pendulum, wall finger climbing, etc)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k06&nbsp;&nbsp;&nbsp;</u> 6. Isometric exercises (abduction, adduction, flexion, extension, internal and external rotations) </td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k07&nbsp;&nbsp;&nbsp;</u> 7. Progress to resistive exercises with rubber band and/or column station.</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k08&nbsp;&nbsp;&nbsp;</u> 8. Teach home exercise program</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k09&nbsp;&nbsp;&nbsp;</u> 9. Neuromuscular re-education</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#k10&nbsp;&nbsp;&nbsp;</u> 10. Others</td>
    </tr>

</table>

<table width="100%" style="font-size:11px">
    <tr>
        <td rowspan="5" style="width:150px;text-align:center"></td>
        <td><u>&nbsp;&nbsp;&nbsp;#o11&nbsp;&nbsp;&nbsp;</u>1. Hot pack </td>
        <td><u>&nbsp;&nbsp;&nbsp;#o16&nbsp;&nbsp;&nbsp;</u>6. Whirlpool</td>
    </tr>

    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#o12&nbsp;&nbsp;&nbsp;</u>2. Cold pack</td>
        <td><u>&nbsp;&nbsp;&nbsp;#o17&nbsp;&nbsp;&nbsp;</u>7. Massage </td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#o13&nbsp;&nbsp;&nbsp;</u>3. Paraffin bath</td>
        <td><u>&nbsp;&nbsp;&nbsp;#o18&nbsp;&nbsp;&nbsp;</u>8. Electrical stimulation </td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#o14&nbsp;&nbsp;&nbsp;</u>4. Infrared lamp</td>
        <td><u>&nbsp;&nbsp;&nbsp;#o19&nbsp;&nbsp;&nbsp;</u>9. ROM (PROM/AAROM/ AROM)</td>
    </tr>
    <tr>
        <td><u>&nbsp;&nbsp;&nbsp;#o15&nbsp;&nbsp;&nbsp;</u>5. Ultrasound</td>
        <td><u>&nbsp;&nbsp;&nbsp;#o20&nbsp;&nbsp;&nbsp;</u>10. Isometric/ Isotonic exercises</td>
    </tr>

</table>
<br />
<table width="100%" style="font-size:11px">
    <tr>
        <td colspan="4" style="width:43%">Goals of Treatment</td>
        <td>Restrictions/Precautions</td>

    </tr>

    <tr>
        <td>Increase ROM</td>
        <td>___</td>
        <td>Increase endurance</td>
        <td>___</td>
        <td>___1. Pregnancy: No ultrasound to lumbar spine area</td>
    </tr>
    <tr>
        <td>Increase strength</td>
        <td>___</td>
        <td>Improve gait</td>
        <td>___</td>
        <td>___2. Hypertension: No therapy if SBP > 170 min Hg or DBP >90 min Hg</td>
    </tr>
    <tr>
        <td>Decrease pain</td>
        <td>___</td>
        <td>Improve ADL's</td>
        <td>___</td>
        <td>___3. Cardiac: No therapy if heat rate > 20 above baseline</td>
    </tr>
    <tr>
        <td>Improve functional status</td>
        <td>___</td>
        <td>Other </td>
        <td>___</td>
        <td>___4. Diabetics: Protects Skin, Caution with high temperature modalities</td>
    </tr>

</table>
<br />
<p style="font-size:12px"> Therapy ______ times per week. For _______ weeks.</p>