<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Wrist Examination:</b> </span><label style="visibility:hidden">#leftwristtitle</label>
        <input type="checkbox" id="chkleftrevel" class="nocomma" onclick="checkMe(this)" value="Reveals tenderness upon palpation of the" checked="checked"/> reveals tenderness upon palpation of the
        <input type="checkbox" ID="chkPalpationUlnarLeft" class="chkrevelL" onclick="checkMe(this); checkDefault(this,'chkleftrevel')" value="ulnar" checked="checked"/> ulnar
        <input type="checkbox" ID="chkPalpationRadialLeft" class="chkrevelL" onclick="checkMe(this); checkDefault(this,'chkleftrevel')" value="radius" /> radius
        <input type="checkbox" ID="chkPalpationDorsalLeft" class="chkrevelL" onclick="checkMe(this); checkDefault(this,'chkleftrevel')" value="dorsal" checked="checked"/> dorsal
        <input type="checkbox" ID="chkPalpationPalmarLeft" class="chkrevelL" onclick="checkMe(this); checkDefault(this,'chkleftrevel')" value="palmar" /> palmar
        <label> aspect of the wrist.</label>


        <input type="checkbox" id="chkwirstROML" value="ROM is " class="nocomma" /> ROM is
        <section class="dropdown">
            <input type="text" id="txtRangeOfMotionLeft" onchange="txtMe(this);selectTestCHK('chkwirstROML', this.value)" value="" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtRangeOfMotionLeft', this.value);selectTestCHK('chkwirstROML', this.value)" id="ddlRangeOfMotionLeft"><option></option><option>mildly decreased. </option><option>moderately decreased. </option><option>severely decreased. </option></select>
        </section>

        <section style="display:none">
            <br />
            <span class="control-label"><b>Tests: </b></span>
            <input type="checkbox" ID="chkTinelLeft" onclick="checkMe(this)" value="Tinnel" />Tinnel
            <input type="checkbox" ID="chkPhalenLeft" onclick="checkMe(this)" value="Phalen" />Phalen
            <input type="checkbox" ID="chkFinkelsteinLeft" onclick="checkMe(this)" value="Finkelstein" />Finkelstein
            <input type="checkbox" ID="chkPainUponUlnarDeviationLeft" onclick="checkMe(this)" value="Pain upon ulnar deviation" />Pain upon ulnar deviation
            <input type="checkbox" ID="chkPainUponRadialLeft" onclick="checkMe(this)" value="Pain upon radial deviation" />Pain upon radial deviation
            <input type="checkbox" ID="chkPainUponDorsiFlexionLeft" onclick="checkMe(this)" value="Pain upon dorsi flexion" />Pain upon dorsi flexion
            <span> test - positive.</span>
        </section>

        <br />

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormR" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <br />
            <label style="visibility:hidden">#wristleftrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>


    </div>
    <br />
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Wrist Examination:</b> </span><label style="visibility:hidden">#rightwristtitle</label>
        <input type="checkbox" id="chkrightrevel" class="nocomma" onclick="checkMe(this)" value="Reveals tenderness upon palpation of the" checked="checked"/> reveals tenderness upon palpation of the        
        <input type="checkbox" ID="chkPalpationUlnarRight" onclick="checkMe(this);checkDefault(this,'chkrightrevel')" class="chkrevelR" value="ulnar" checked="checked"/>ulnar
        <input type="checkbox" ID="chkPalpationRadialRight" onclick="checkMe(this); checkDefault(this,'chkrightrevel')" class="chkrevelR" value="radius" /> radius
        <input type="checkbox" ID="chkPalpationDorsalRight" onclick="checkMe(this); checkDefault(this,'chkrightrevel')" class="chkrevelR" value="dorsal" checked="checked"/> dorsal
        <input type="checkbox" ID="chkPalpationPalmarRight" onclick="checkMe(this); checkDefault(this,'chkrightrevel')" class="chkrevelR" value="palmar" /> palmar
        <label> aspect of the wrist.</label>



        <input type="checkbox" id="chkwirstROMR" value="ROM is " class="nocomma" /> ROM is
        <section class="dropdown">
            <input type="text" id="txtRangeOfMotionRight" onchange="txtMe(this);selectTestCHK('chkwirstROMR', this.value)" value="" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtRangeOfMotionRight', this.value); selectTestCHK('chkwirstROMR', this.value)" id="ddlRangeOfMotionRight"><option></option><option>mildly decreased. </option><option>moderately decreased. </option><option>severely decreased. </option></select>
        </section>
        <!--<input type="text" id="txtNoteRight" style="Width:300px" onchange="txtMe(this)" />-->
        <br />
        <section style="display:none">
            <span class="control-label"><b>Tests: </b></span>
            <input type="checkbox" ID="chkTinelRight" onclick="checkMe(this)" value="Tinnel" />Tinel
            <input type="checkbox" ID="chkPhalenRight" onclick="checkMe(this)" value="Phalen" />Phalen
            <input type="checkbox" ID="chkFinkelsteinRight" onclick="checkMe(this)" value="Finkelstein" />Finkelstein
            <!--<input type="checkbox" ID="chkPainUponUlnarDeviationRight" onclick="checkMe(this)" value="Pain upon ulnar deviation" />Pain upon ulnar deviation
            <input type="checkbox" ID="chkPainUponRadialRight" onclick="checkMe(this)" value="Pain upon radial deviation" />Pain upon radial deviation
            <input type="checkbox" ID="chkPainUponDorsiFlexionRight" onclick="checkMe(this)" value="Pain upon dorsi flexion" />Pain upon dorsi flexion-->
            <span> test - positive.</span>
        </section>
        <br />

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormR" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <br />
            <label style="visibility:hidden">#wristrightrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>

    </div>
    <br />
    <div id="TestPE">
        <input type="checkbox" id="chkTinnels" value="Tinel's test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Tinel's test is&nbsp;

        <section class="dropdown">
            <input type="text" id="txtTinnels" onchange="txtMe(this);selectTestCHK('chkTinnels', this.value)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtTinnels', this.value);selectTestCHK('chkTinnels', this.value)" id="ddlTinnels"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
        </section>
        <br />
        <input type="checkbox" id="chkPhalens" value="Phalen's test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Phalen's test is&nbsp;

        <section class="dropdown">
            <input type="text" id="txtPhalens" onchange="txtMe(this);selectTestCHK('chkPhalens', this.value)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtPhalens', this.value);selectTestCHK('chkPhalens', this.value)" id="ddlPhalens"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
        </section>
        <br />
        <input type="checkbox" id="chkFinkelsteins" value="Finkelsteins test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Finkelsteins test is&nbsp;

        <section class="dropdown">
            <input type="text" id="txtFinkelsteins" onchange="txtMe(this);selectTestCHK('chkFinkelsteins', this.value)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus(); selectVal('txtFinkelsteins', this.value);selectTestCHK('chkFinkelsteins', this.value)" id="ddlFinkelsteins"><option></option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
        </section>
        <!--<br />
    <input type="checkbox" id="chkPUUD" value="The Pain upon ulnar deviation test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Pain upon ulnar deviation test is&nbsp;

    <section class="dropdown">
        <input type="text" id="txtPUUD" onchange="txtMe(this)" />
        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtPUUD', this.value)" id="ddlPUUD"><option></option><option>normal.</option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
    </section>
    <br />
    <input type="checkbox" id="chkPURD" value="The Pain upon radial deviation test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The Pain upon radial deviation test is&nbsp;

    <section class="dropdown">
        <input type="text" id="txtPURD" onchange="txtMe(this)" />
        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtPURD', this.value)" id="ddlPURD"><option></option><option>normal.</option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
    </section>
    <br />
    <input type="checkbox" id="chkPUDF" value="The Pain upon dorsi flexion test is " class="nocomma" onclick="checkMe(this)" />&nbsp;The  Pain upon dorsi flexion test is&nbsp;

    <section class="dropdown">
        <input type="text" id="txtPUDF" onchange="txtMe(this)" />
        <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtPUDF', this.value)" id="ddlPUDF"><option></option><option>normal.</option><option>positive on left.</option><option>positive on right.</option><option>positive bilaterally.</option></select>
    </section>-->
    </div>
    <br />

</div>


<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>



<script type="text/javascript">

    // window.load = PopulateDropDownList();

    function PopulateDropDownList() {


        //  var ddlRangeOfMotionRight = document.getElementById("ddlRangeOfMotionRight");
        if (ddlRangeOfMotionRight.options.length === 0) {
            var ddlRangeOfMotionLeft = document.getElementById("ddlRangeOfMotionLeft");

            ddlRangeOfMotionLeft.options.length = 0;
            ddlRangeOfMotionRight.options.length = 0;

            $.get('/xml/HSMData.xml', function (res) {

                //var $xml = $(xmlDoc);

                // Find Person Tag
                var Rom = $(res).find("ROM");


                for (var i = 0; i < Rom.length; i++) {
                    var optionL = document.createElement("option");
                    var optionR = document.createElement("option");

                    //Set Customer Name in Text part.
                    optionL.text = Rom[i].getAttribute('name');
                    optionR.text = Rom[i].getAttribute('name');


                    //Add the Option element to DropDownList.
                    ddlRangeOfMotionLeft.options.add(optionL);
                    ddlRangeOfMotionRight.options.add(optionR);
                }

            });
        }
    }

    function selectTestCHK(chkid, val) {

        if (val !== '')
            $("#" + chkid).attr("checked", "checked");
        else
            $("#" + chkid).removeAttr("checked");
    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectVal(txtid, val) {

        $("#" + txtid).attr('value', val);
    }

    function startButton(event) {
        controlname = "#txtFreeForm";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }
</script>
