<table style="width:100%">
    <tr>
        <td>
            <center>
                <h2>#headername</h2>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                #address1
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                #address2
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                #tel
            </center>
        </td>
    </tr>
   
</table>