<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <div id="WrapLeft" #leftdiv>
            <label id="lblpain1L" class="control-label">The patient complains of left knee pain that is </label>
            <input type="text" id="txtPainScaleL" style="Width:40px" class="paincls" value="#painL" onchange="txtMe(this); removePainClass(this,'L')" />
            <label id="lblpain2L" class="control-label">/10, with 10 being the worst</label>
            <label class="noprint" id="lblwhichL">, which is </label>
            <input type="checkbox" id="chkcontentL" class="painL" value="constant" onclick="checkMe(this);removeClass(this,'L');" />constant,
            <input type="checkbox" id="chkintermittentL" class="painL" value="intermittent" onclick="checkMe(this);removeClass(this,'L');" />intermittent,
            <input type="checkbox" id="chksharpL" value="sharp" class="painL" onclick="checkMe(this);removeClass(this,'L');" />sharp,
            <input type="checkbox" id="chkelectricL" value="electric" class="painL" onclick="checkMe(this);removeClass(this,'L');" />electric,
            <input type="checkbox" id="chkshootingL" value="shooting" class="painL" onclick="checkMe(this);removeClass(this,'L');" />shooting,

            <input type="checkbox" id="chkthrobbingL" value="throbbing" class="painL" onclick="checkMe(this);removeClass(this,'L');" />throbbing,
            <input type="checkbox" id="chkpulsatingL" value="pulsating" class="painL" onclick="checkMe(this);removeClass(this,'L');" />pulsating,

            <input type="checkbox" id="chkdullL" value="dull" class="painL" onclick="checkMe(this);removeClass(this,'L');" />dull,
            <input type="checkbox" id="chkachyL" value="achy" class="painL" onclick="checkMe(this);removeClass(this,'L');" />achy
            <span class="noprint" id="lblnatureL"> in nature</span>
            <span id="lblpain3L">.</span>

            <input type="checkbox" id="chkkneepainL" value="The knee pain worsens with " class="nocomma" onclick="checkMe(this)" #chkworsedL /> The knee pain worsens with
            <input type="checkbox" id="chkWorsesquattingL" class="chkpainL" value="squatting" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" #chksquattingL /> squatting
            <input type="checkbox" id="chkWorseWalkingL" class="chkpainL" value="walking" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" #chkwalkingL /> walking
            <input type="checkbox" id="chkWorseupStairsL" class="chkpainL" value="climbing stairs" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" #chkclimbingL /> climbing stairs
            <input type="checkbox" id="chkWorsegoingdownstairs" class="chkpainL" value="going downstairs" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" /> going downstairs
            <input type="checkbox" id="chkWorsestanding" class="chkpainL" value="standing" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" /> standing
            <input type="checkbox" id="chkWorsegettingupfromchair" class="chkpainL" value="getting up from chair" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" /> getting up from chair
            <input type="checkbox" id="chkWorsegettingoutofcar" class="chkpainL" value="getting out of car" onclick="checkMe(this);checkDefault(this, 'chkkneepainL');" /> getting out of car
            <!--<input type="checkbox" id="chkWorsemovementL" value="movement" onclick="checkMe(this)"  /> movement
    <input type="checkbox" id="chkWorseWalkingL" value="walking" onclick="checkMe(this)"  /> walking
    <input type="checkbox" id="chkWorseupStairsL" value="climbing stairs" onclick="checkMe(this)"  /> climbing stairs
    <input type="checkbox" id="chkWorsesquattingL" value="squatting" onclick="checkMe(this)" /> squatting
    <input type="checkbox" id="chkWorseactivitiesL" value="activities" onclick="checkMe(this)"  /> activities-->
            <input type="text" id="txtPainScaleL2" style="Width:140px" value="#txtPainScaleL2" onchange="txtMe(this)" />
            <label>.</label>
            <input type="checkbox" id="chkkneeimpleft" value="The knee pain is improved with " class="nocomma" onclick="checkMe(this)" #chkimprovedL />&nbsp;The knee pain is improved with

            <input type="checkbox" id="chkImprovedRestingL" class="chkimproveL" value="resting" onclick="checkMe(this);checkDefault(this, 'chkkneeimpleft');" #chkrestingL /> resting
            <input type="checkbox" id="chkImprovedMedicationL" class="chkimproveL" value="medication" onclick="checkMe(this);checkDefault(this, 'chkkneeimpleft');" #chkmedicationL /> medication
            <input type="checkbox" id="chkImprovedTherapyL" class="chkimproveL" value="therapy" onclick="checkMe(this);checkDefault(this, 'chkkneeimpleft');" #chktherapyL /> therapy
            <input type="checkbox" id="chkImprovedSleepingL" class="chkimproveL" value="sleeping" onclick="checkMe(this);checkDefault(this, 'chkkneeimpleft');" #chksleepingL /> sleeping
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCL" onchange="txtAreaMe(this)" Style="Width:700px;height:100px"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
               
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>


        </div>
        <div id="WrapRight" #rigthtdiv>
            <label id="lblpain1R" class="control-label">The patient complains of right knee pain that is </label>
            <input type="text" id="txtPainScaleR" style="Width:40px" class="paincls" value="#painR" onchange="txtMe(this); removePainClass(this, 'R');" />
            <label id="lblpain2R" class="control-label">/10, with 10 being the worst</label>
            <label class="noprint" id="lblwhichR">, which is </label>
            <input type="checkbox" id="chkcontentR" value="constant" class="painR" onclick="checkMe(this);removeClass(this,'R');" />constant,
            <input type="checkbox" id="chkintermittentR" class="painR" value="intermittent" onclick="checkMe(this);removeClass(this,'R');" />intermittent,
            <input type="checkbox" id="chksharpR" value="sharp" class="painR" onclick="checkMe(this);removeClass(this,'R');" />sharp,
            <input type="checkbox" id="chkelectricR" value="electric" class="painR" onclick="checkMe(this);removeClass(this,'R');" />electric,
            <input type="checkbox" id="chkshootingR" value="shooting" class="painR" onclick="checkMe(this);removeClass(this,'R');" />shooting,

            <input type="checkbox" id="chkthrobbingR" value="throbbing" class="painR" onclick="checkMe(this);removeClass(this,'R');" />throbbing,
            <input type="checkbox" id="chkpulsatingR" value="pulsating" class="painR" onclick="checkMe(this);removeClass(this,'R');" />pulsating,

            <input type="checkbox" id="chkdullR" value="dull" class="painR" onclick="checkMe(this);removeClass(this,'R');" />dull,
            <input type="checkbox" id="chkachyR" value="achy" class="painR" onclick="checkMe(this);removeClass(this,'R');" />achy
            <span class="noprint" id="lblnatureR"> in nature</span>
            <span id="lblpain3R">.</span>

            <input type="checkbox" id="chkkneepainR" value="The knee pain worsens with " class="nocomma" onclick="checkMe(this)" #chkworsedR /> The knee pain worsens with
            <input type="checkbox" id="chkWorsesquattingR" class="chkpainR" value="squatting" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" #chksquattingR /> squatting
            <input type="checkbox" id="chkWorseWalkingR" class="chkpainR" value="walking" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" #chkwalkingR /> walking
            <input type="checkbox" id="chkWorseupStairsR" class="chkpainR" value="climbing stairs" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" #chkclimbingR/> climbing stairs
            <input type="checkbox" id="chkWorsegoingdownstairsR" class="chkpainR" value="going downstairs" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" /> going downstairs
            <input type="checkbox" id="chkWorsestandingR" class="chkpainR" value="standing" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" /> standing
            <input type="checkbox" id="chkWorsegettingupfromchairR" class="chkpainR" value="getting up from chair" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" /> getting up from chair
            <input type="checkbox" id="chkWorsegettingoutofcarR" class="chkpainR" value="getting out of car" onclick="checkMe(this);checkDefault(this, 'chkkneepainR');" /> getting out of car
            <input type="text" id="txtPainScaleLR" style="Width:140px"  value="#txtPainScaleLR"  onchange="txtMe(this)" />
            <label>.</label>
            <input type="checkbox" id="chkkneeimpright" value="The knee pain is improved with " class="nocomma" onclick="checkMe(this)" #chkimprovedR/>&nbsp;The knee pain is improved with
            <input type="checkbox" id="chkImprovedRestingR" value="resting" class="chkkneepainR" onclick="checkMe(this);checkDefault(this, 'chkkneeimpright');" #chkrestingR/> resting
            <input type="checkbox" id="chkImprovedMedicationR" value="medication" class="chkkneepainR" onclick="checkMe(this);checkDefault(this, 'chkkneeimpright');" #chkmedicationR/> medication
            <input type="checkbox" id="chkImprovedTherapyR" value="therapy" class="chkkneepainR" onclick="checkMe(this);checkDefault(this, 'chkkneeimpright');" #chktherapyR/> therapy
            <input type="checkbox" id="chkImprovedSleepingR" value="sleeping" class="chkkneepainR" onclick="checkMe(this);checkDefault(this, 'chkkneeimpright');" #chksleepingR/> sleeping
            <label>.</label>


            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCR" onchange="txtAreaMe(this)" Style="Width:700px;height:100px"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
               
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>

    </div>
</div>
<script>

    function removePainClass(txtId, side) {

        var $span1 = $("#lblpain1" + side);
        var $span2 = $("#lblpain2" + side);
        var $span3 = $("#lblpain3" + side);



        if ($(txtId).val() !== '') {



            $span1.replaceWith(function () {
                return $('<label/>', {
                    Id: 'lblpain1' + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain2' + side,
                    html: this.innerHTML
                });
            });

            $span3.replaceWith(function () {
                return $('<label/>', {

                    Id: 'lblpain3' + side,
                    html: this.innerHTML
                });
            });


          
        }
        else {



            $span1.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain1' + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain2' + side,
                    html: this.innerHTML
                });
            });
            $span3.replaceWith(function () {
                return $('<span/>', {
                    class: 'noprint',
                    Id: 'lblpain3' + side,
                    html: this.innerHTML
                });
            });

        }

    }

    function displaySide(side) {



        if (side === 'l') {
            $('#WrapLeft').show();
            $('#WrapRight').hide();
            $('#WrapLeftPE').show();
            $('#WrapRightPE').hide();
        }
        else if (side === 'r') {
            $('#WrapLeft').hide();
            $('#WrapRight').show();
            $('#WrapLeftPE').hide();
            $('#WrapRightPE').show();
        }
        else {
            $('#WrapLeft').show();
            $('#WrapRight').show();
            $('#WrapLeftPE').show();
            $('#WrapRightPE').show();
        }

    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function checkDefault(chk, deafCheck) {

        debugger


        var isCheck = false;
        var className = "";
        if ($("#" + deafCheck).prop("checked") == false) {

            if ($(chk).prop("checked")) {
                $("#" + deafCheck).attr('checked', 'checked');

            }
        }


        if (deafCheck === "chkkneepainL")
            className = "chkpainL";
        else if (deafCheck === "chkkneepainR")
            className = "chkpainR";
        else if (deafCheck === "chkkneeimpright")
            className = "chkimproveR";
        else if (deafCheck === "chkkneeimpleft")
            className = "chkimproveL";
        else if (deafCheck === "chkkneerevelRight")
            className = "clsrevelR";
        else if (deafCheck === "chkkneerevelLeft")
            className = "clsrevelL";




        if ($("#" + deafCheck).prop("checked") == true) {




            if ($(chk).prop("checked") == false) {

                $("input:checkbox[class=" + className + "]").each(function () {
                    if ($("#" + $(this).attr("id")).prop("checked") == true) {
                        isCheck = true;
                    }
                });

                if (!isCheck)
                    $("#" + deafCheck).removeAttr('checked');

            }
        }
    }

    function removeClass(chkid, side) {

        var $span1 = $("#lblnature" + side);
        var $span2 = $("#lblwhich" + side);

        if ($(chkid).prop("checked") == true) {





            $span1.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: "lblnature" + side,
                    html: this.innerHTML
                });
            });


            $span2.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    id: "lblwhich" + side,
                    html: this.innerHTML
                });
            });


         
        }
        else {


            var className = 'pain' + side;
            var isCheck = false;



            $("input:checkbox[class=" + className + "]").each(function () {
                if ($("#" + $(this).attr("id")).prop("checked") == true) {
                    isCheck = true;
                }
            });

            if (!isCheck) {


                $span1.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblnature" + side,
                        html: this.innerHTML
                    });
                });


                $span2.replaceWith(function () {
                    return $('<span/>', {
                        class: 'noprint',
                        id: "lblwhich" + side,
                        html: this.innerHTML
                    });
                });

            }


        }

    }

    function removeClassRegion(chkid, side) {


        if ($(chkid).prop("checked") == true) {




            var $span1 = $("#lblregion" + side);
            $span1.replaceWith(function () {
                return $('<label/>', {
                    class: 'noprint',
                    html: this.innerHTML
                });
            });

           


        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }
    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

</script>


