<center>
    <h3>PROCEDURE CONSENT FORM</h3>
</center>
<table style="width:100%">
    <tr>
        <td style="width:70%"><b>Patient Name: </b>#patientname</td>
        <td><b>DOB: </b>#dob</td>
    </tr>
    <tr>
        <td colspan="2"><b>Location patient was seen: </b>#location</td>

    </tr>
    <tr>
        <td colspan="2"><b>Informed Consent for:  </b>#infConsent</td>

    </tr>
</table>
<p>
    You have a pain problem that has not been relieved by routine treatments. A procedure, specifically an injection or operation, is now indicated for further evaluation or treatment of your pain. There is <b>no guarantee</b> that a procedure will cure your pain, and in rare cases, it could become worse, even when the procedure is performed in a technically perfect manner. The degree and duration of pain relief varies from person to person, so after your procedure, we will reevaluate your progress, then determine if further treatment is necessary. Your physician will explain the details of the procedure listed below.<b>Tell the physician if you are taking any blood thinners such as Coumadin, Lovenox, Heparin, Plavix, Warfarin,</b> as these can cause excessive bleeding and a procedure should not be performed.
</p>
<p>
    Alternatives to the procedure include medications, physical therapy, acupuncture, surgery, etc.
    Benefits include increased likelihood of correct diagnosis and /or of decrease or elimination of pain.
    Risks include infection, bleeding, allergic reaction, increased pain; nerve damage involving temporary or permanent pain, numbness, weakness, paralysis or death; air in lung requiring chest tube; tissue, bone or eye damage from steroids. Nerve destruction with phenol, alcohol, or radiofrequency energy has risks of nerve and tissue damage. Specific risks pertaining to each specific procedure are as follows:

</p>
<p>
    Alternatives to the procedure include medications, physical therapy, acupuncture, surgery, etc.
    Benefits include increased likelihood of correct diagnosis and /or of decrease or elimination of pain.
    Risks include infection, bleeding, allergic reaction, increased pain; nerve damage involving temporary or permanent pain, numbness, weakness, paralysis or death; air in lung requiring chest tube; tissue, bone or eye damage from steroids. Nerve destruction with phenol, alcohol, or radiofrequency energy has risks of nerve and tissue damage. Specific risks pertaining to each specific procedure are as follows:

</p>
<p>
    Discogram, Nucleoplasty, Nucleotome, Decompressor or Intra Discal Electrothermal Therapy: infection or discitis.
</p>
<p>
    Trigger Point Injection, Joint Injection, Occipital Nerve Block, Intercostal Nerve Block/Ablation: Air in lung requiring chest tube in hospital, local pain from tissue and/or nerve irritation, dimpling of/depression in skin.
</p>
<p>
    Joint and Bursal Injections:  infection and local site reactions.
</p>
<p>
    Radio Frequency Denervation: Nerve damage
</p>
<p>
    <b> I also understand that one of the greatest risks involved with pain management procedures involves various medications taken, allergies and my general medical condition. I will inform the doctor of any blood thinning medication taken or any changes in other medications, allergies or medical condition prior to any procedure.</b>

</p>
<p>
    #headings
</p>
<p>
    Patient or his/her legal guardian____(Signature)_______
</p>
<br />
<p>
    Witness_______________________
</p>
<p>
    Physician Declaration: I and/or my assistant have explained the procedure and the pertinent
    contents of this document to the patient and have answered all the patient's questions. To the best of my knowledge, the patient has been adequately informed and the patient has consented to the above described procedure.
</p>
<table style="width:100%">
    <tr>
        <td>Physician_______________________</td>
        <td>Date #dos  </td>
    </tr>
</table>