

<table style="width:100%">
    <tr><td style="width:30%;font-weight:bold">RE:</td><td>#patientname</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOB:</td><td>#dob</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOI:</td><td>#doi</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOS:</td><td>#dos</td></tr>
</table>
<br />
#dos												DOA: #doi

Dr.



Re: #patientname

Dear Dr. __________:

<br />
<br />
<b>HISTORY</b>
<br />
#history
<br />
<br />
<b>CHIEF COMPLAINT</b>
<br />
    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
    #complain

<b>REVIEW OF SYSTEMS: </b>Negative for weight loss, fever, dizziness, diplopia, seizures, memory impairment, gingival bleeding, hoarseness, chest pain, palpitation, cough, hemoptysis, dysphagia, nausea, jaundice, hematemesis, melena, constipation, diarrhea, constipation, urinary retention, dysuria, frequency, incontinence, bruising, arthritis, stiffness and skin rash.
<br />
<br />
#pastmedicalhistory
#pastmedications
#familyhistory
#pastsurgicalhistory
#socialhistory
#allergies
#work_status
<b>PHISYCIAL EXAM</b>
<br />
Height is _ feet _ inch, weight is ___ lbs. Examination of the face and head reveals no abnormalities.  Examination of the neck is supple with no JVD or palpable masses along the thyroid and other areas.  Examination of the cardiovascular system reveals the heart to have a regular rate and rhythm.  S1 and S2 are heard without splits.  On auscultation, there are no obvious murmurs or clicks.  Examination of the pulmonary system reveals both lung fields to be clear to auscultation.  No rales, rhonchi or wheezes are heard.  The abdomen is soft, non-tender and non-distended with bowel sounds present in all four quadrants.  There is no costovertebral angle tenderness bilaterally.  The radial, brachial, femoral, popliteal, dorsalis pedis and posterior tibial pulses are present bilaterally and symmetrical.
<br />
<br />

#PENeck
#PEMidback
#PELowback
#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

#nerologicalexam
#reflexexam
#sensoryexam
#motorexam

#diagnostic
<b>DIAGNOSES: </b>#diagnoses

#plan


#consultation
#follow-up

<b>CAUSALITY: </b>If the history provided is correct, the signs and symptoms are felt to be casually related to the incident occurring on the above-mentioned date.

All findings and images were reviewed with Dr. Sinha, who agrees with the plan.

I, Anjani Sinha, M.D., being duly licensed to practice medicine in the state of New York hereby affirm under the penalty of perjury that the statements contained herein are true and accurate to the best of my knowledge.

<br />
<br />
Sincerely yours,





