<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <div id="WrapLeft" #leftdiv>
            <label class="control-label">The patient complains of left knee pain that is </label>
            <input type="text" id="txtPainScaleL" style="Width:40px" value="8" onchange="txtMe(this)" />
            <label class="control-label">/10, with 10 being the worst, which is </label>
            <input id="chkcontentL" type="checkbox" value="constant" onclick="checkMe(this)" />constant
            <input id="chkintermittentL" type="checkbox" value="intermittent" onclick="checkMe(this)" />intermittent
            <input id="chksharpL" type="checkbox" value="sharp" onclick="checkMe(this)" checked />sharp
            <input id="chkdullL" type="checkbox" value="dull" onclick="checkMe(this)" checked />dull
            <input id="chkachyL" type="checkbox" value="achy" onclick="checkMe(this)" checked />achy
            <input id="chkcrampingL" type="checkbox" value="cramping" onclick="checkMe(this)" />cramping
            <input id="chkstabbingL" type="checkbox" value="stabbing" onclick="checkMe(this)" />stabbing
            <input id="chkthrobbingL" type="checkbox" value="throbbing" onclick="checkMe(this)" />throbbing
            <input id="chkpulsatingL" type="checkbox" value="pulsating" onclick="checkMe(this)" />pulsating
            <label> in nature.</label>

            <label class="control-label">The knee pain increases with </label>
            <input type="checkbox" id="chkWorsesquattingL" value="squatting" onclick="checkMe(this)" checked />squatting
            <input type="checkbox" id="chkWorseWalkingL" value="walking" onclick="checkMe(this)" checked />walking
            <input type="checkbox" id="chkWorseupStairsL" value="climbing upstairs" onclick="checkMe(this)" checked />climbing upstairs
            <input type="checkbox" id="chkWorsedownStairsL" value="going downstairs" onclick="checkMe(this)" />going downstairs
            <input type="checkbox" id="chkWorsestandingL" value="standing" onclick="checkMe(this)" checked />standing
            <input type="checkbox" id="chkWorseChairL" value="getting up from chair" onclick="checkMe(this)" />getting up from chair
            <input type="checkbox" id="chkWorseCarL" value="getting out of car" onclick="checkMe(this)" />getting out of car
            <label>.</label>
            <label>The knee pain is improved with </label>
            <input type="checkbox" id="chkImprovedRestingL" value="resting" onclick="checkMe(this)" checked />resting
            <input type="checkbox" id="chkImprovedMedicationL" value="medication" onclick="checkMe(this)" />medication
            <input type="checkbox" id="chkImprovedTherapyL" value="therapy" onclick="checkMe(this)" />therapy
            <input type="checkbox" id="chkImprovedSleepingL" value="sleeping" onclick="checkMe(this)" />sleeping
            <label>.</label>
            <input type="text" id="txtWorseOtherTextL" style="Width:300px" onchange="txtMe(this)" />
            <label>.</label>

            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCL" onchange="txtAreaMe(this)" Style="Width:700px;height:100px"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>


        </div>
        <div id="WrapRight" #rigthtdiv>
            <label class="control-label">The patient complains of right knee pain that is </label>
            <input type="text" id="txtPainScaleR" style="Width:40px" value="8" onchange="txtMe(this)" />
            <label class="control-label">/10, with 10 being the worst, which is </label>
            <input id="chkcontentR" type="checkbox" value="constant" onclick="checkMe(this)" />constant
            <input id="chkintermittentR" type="checkbox" value="intermittent" onclick="checkMe(this)" />intermittent
            <input id="chksharpR" type="checkbox" value="sharp" onclick="checkMe(this)" checked />sharp
            <input id="chkdullR" type="checkbox" value="dull" onclick="checkMe(this)" checked />dull
            <input id="chkachyR" type="checkbox" value="achy" onclick="checkMe(this)" checked />achy
            <input id="chkcrampingR" type="checkbox" value="cramping" onclick="checkMe(this)" />cramping
            <input id="chkstabbingR" type="checkbox" value="stabbing" onclick="checkMe(this)" />stabbing
            <input id="chkthrobbingR" type="checkbox" value="throbbing" onclick="checkMe(this)" />throbbing
            <input id="chkpulsatingR" type="checkbox" value="pulsating" onclick="checkMe(this)" />pulsating
            <label> in nature.</label>

            <label class="control-label">The knee pain increases with </label>
            <input type="checkbox" id="chkWorsesquattingR" value="squatting" onclick="checkMe(this)" checked />squatting
            <input type="checkbox" id="chkWorseWalkingR" value="walking" onclick="checkMe(this)" checked />walking
            <input type="checkbox" id="chkWorseupStairsR" value="climbing upstairs" onclick="checkMe(this)" checked />climbing upstairs
            <input type="checkbox" id="chkWorsedownStairsR" value="going downstairs" onclick="checkMe(this)" />going downstairs
            <input type="checkbox" id="chkWorsestandingR" value="standing" onclick="checkMe(this)" checked />standing
            <input type="checkbox" id="chkWorseChairR" value="getting up from chair" onclick="checkMe(this)" />getting up from chair
            <input type="checkbox" id="chkWorseCarR" value="getting out of car" onclick="checkMe(this)" />getting out of car
            <label>.</label>
            <label>The knee pain is improved with </label>
            <input type="checkbox" id="chkImprovedRestingR" value="resting" onclick="checkMe(this)" checked />resting
            <input type="checkbox" id="chkImprovedMedicationR" value="medication" onclick="checkMe(this)" />medication
            <input type="checkbox" id="chkImprovedTherapyR" value="therapy" onclick="checkMe(this)" />therapy
            <input type="checkbox" id="chkImprovedSleepingR" value="sleeping" onclick="checkMe(this)" />sleeping
            <label>.</label>

            <input type="text" id="txtWorseOtherTextR" style="Width:300px" onchange="txtMe(this)" />
            <label>.</label>

            <section class="col-md-3">
                <span class="control-label">Notes</span>
            </section>
            <section class="col-md-9" style="margin-top: 5px">
                <textarea id="txtFreeFormCCR" onchange="txtAreaMe(this)" Style="Width:700px;height:100px"></textarea>
                <button type="button" id="start_button1" onclick="startButton1(event)">
                    <img src="images/mic.gif" alt="start" />
                </button>
                <section style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></section>
            </section>

        </div>

    </div>
</div>
<script>
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }
    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

</script>


