
<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Shoulder:</b></span><label style="visibility:hidden">#leftshouldertitle</label>
        <input type="text" ID="txtPalpationText1Left" onchange="txtMe(this)" Style="margin-left: 0px;width:500px" value=" Reveals swelling or tenderness to palpation on the " />
        <label>. Impingement sign is </label>
        <section class="dropdown" style="width:200px">
            <input type="text" id="txtImpLeft" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtImpLeft', this.value)" id="ddl_ImpLeft">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Drop sign is </label>
        <section class="dropdown" style="width:200px">
            <input type="text" id="txtDropLeft" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtDropLeft', this.value)" id="ddl_DropLeft">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Hawkins is </label>
        <section class="dropdown" style="width:200px">
            <input type="text" id="txtHawLeft" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtHawLeft', this.value)" id="ddl_HawLeft">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. OBrien test is </label>
        <section class="dropdown" style="width:200px">
            <input type="text" id="txtOBrienLeft" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtOBrienLeft', this.value)" id="ddl_OBrienLeft">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Range of motion reveals abduction </label>
        <input type="text" ID="txtAbdLeft" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, forward flexion </label>
        <input type="text" ID="txtFlexLeft" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, internal rotation  </label>
        <input type="text" ID="txtIRotationLeft" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, external rotation is  </label>
        <input type="text" ID="txtERotationLeft" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>.</label>
        <br />
        <input type="checkbox" ID="chkMotorLeft" onclick="checkMe(this)" value=". The patient has no motor or sensory deficit of the left upper extremity. " /> The patient has no motor or sensory deficit of the left upper extremity.
        <br />

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormL" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton2(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <br />
            <label style="visibility:hidden">#shoulderleftrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>
        <br />
        <label style="visibility:hidden">#shoulderleftmri</label>

    </div>
    <br />
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Shoulder:</b> </span><label style="visibility:hidden">#rightshouldertitle</label>
        <input type="text" ID="txtPalpationText1Right" onchange="txtMe(this)" Style="margin-left: 0px;width:500px" value="Reveals swelling or tenderness to palpation on the " />
        <label>. Impingement sign is </label>
        <section class="dropdown" style="width:200px">
            <input type="text" id="txtImpRight" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtImpRight', this.value)" id="ddl_ImpRight">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Drop sign is </label>

        <section class="dropdown" style="width:200px">
            <input type="text" id="txtDropRight" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtDropRight', this.value)" id="ddl_DropRight">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Hawkins is </label>

        <section class="dropdown" style="width:200px">
            <input type="text" id="txtHawRight" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtHawRight', this.value)" id="ddl_HawRight">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. OBrien test is </label>

        <section class="dropdown" style="width:200px">
            <input type="text" id="txtOBrienRight" value="" onchange="txtMe(this)" />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtOBrienRight', this.value)" id="ddl_OBrienRight">
                <option value=""></option>
                <option value="positive">positive</option>
                <option value="negative">negative</option>

            </select>
        </section>
        <label>. Range of motion reveals abduction </label>
        <input type="text" ID="txtAbdRight" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, forward flexion </label>
        <input type="text" ID="txtFlexRight" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, internal rotation  </label>
        <input type="text" ID="txtIRotationRight" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>, external rotation is  </label>
        <input type="text" ID="txtERotationRight" onchange="txtMe(this)" Style="margin-left: 0px;" value="__ degrees" />
        <label>.</label>
        <br />
        <input type="checkbox" ID="chkMotorRight" onclick="checkMe(this)" value=". The patient has no motor or sensory deficit of the right upper extremity. " /> The patient has no motor or sensory deficit of the right upper extremity.
        <br />

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeFormR" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton2(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <br />
            <label style="visibility:hidden">#shoulderrightrom</label>
            <section style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></section>
        </section>
        <br />
        <label style="visibility:hidden">#shoulderrightmri</label>
    </div>
</div>


<div id="divTP">
    <div class="row">
        <div class="col-md-3">
            <span class="control-label"><b><u>Trigger Point:</u></b></span>
        </div>
        <div class="col-md-9" style="margin-top: 5px">


            <span>There are palpable taut bands/trigger points at </span>

        </div>
        <table>
            <tr>
                <td>
                    <select ID="ddlTPSide1" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText1" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr>
                <td>
                    <select ID="ddlTPSide2" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText2" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr style="display:none">
                <td>
                    <select ID="ddlTPSide3" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText3" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr style="display:none">
                <td>
                    <select ID="ddlTPSide4" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText4" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr>
                <td>
                    <select ID="ddlTPSide5" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText5" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr>
                <td>
                    <select ID="ddlTPSide6" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText6" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr>
                <td>
                    <select ID="ddlTPSide7" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText7" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
            <tr>
                <td>
                    <select ID="ddlTPSide8" Style="height: 30px; width: 100px"></select>
                    <input type="text" ID="txtTPText8" onchange="txtMe(this)" Style="margin-left: 10px;Width:557px" />
                </td>
            </tr>
        </table>
        <div class="col-md-9" style="margin-top: 5px">
            <span> with referral to the scapula.</span>
        </div>
    </div>
</div>


<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>

<script type="text/javascript">

    window.load = PopulateDropDownList();

    function PopulateDropDownList() {


        var ddl1 = document.getElementById("ddlTPSide1");
        if (ddl1.options.length === 0) {
            var ddl2 = document.getElementById("ddlTPSide2");
            var ddl3 = document.getElementById("ddlTPSide3");
            var ddl4 = document.getElementById("ddlTPSide4");
            var ddl5 = document.getElementById("ddlTPSide5");
            var ddl6 = document.getElementById("ddlTPSide6");
            var ddl7 = document.getElementById("ddlTPSide7");
            var ddl8 = document.getElementById("ddlTPSide8");

            ddl1.options.length = 0;
            ddl2.options.length = 0;
            ddl3.options.length = 0;
            ddl4.options.length = 0;
            ddl5.options.length = 0;
            ddl6.options.length = 0;
            ddl7.options.length = 0;
            ddl8.options.length = 0;


            $.get('/xml/HSMData.xml', function (res) {

                //var $xml = $(xmlDoc);
                var TPSides = $(res).find("sTPSides");
                var Rom = $(TPSides).find("TPSide");


                for (var i = 0; i < Rom.length; i++) {
                    var option1 = document.createElement("option");
                    var option2 = document.createElement("option");
                    var option3 = document.createElement("option");
                    var option4 = document.createElement("option");
                    var option5 = document.createElement("option");
                    var option6 = document.createElement("option");
                    var option7 = document.createElement("option");
                    var option8 = document.createElement("option");



                    //Set Customer Name in Text part.
                    option1.text = Rom[i].getAttribute('name');
                    option2.text = Rom[i].getAttribute('name');
                    option3.text = Rom[i].getAttribute('name');
                    option4.text = Rom[i].getAttribute('name');
                    option5.text = Rom[i].getAttribute('name');
                    option6.text = Rom[i].getAttribute('name');
                    option7.text = Rom[i].getAttribute('name');
                    option8.text = Rom[i].getAttribute('name');

                    option1.value = Rom[i].getAttribute('name');
                    option2.value = Rom[i].getAttribute('name');
                    option3.value = Rom[i].getAttribute('name');
                    option4.value = Rom[i].getAttribute('name');
                    option5.value = Rom[i].getAttribute('name');
                    option6.value = Rom[i].getAttribute('name');
                    option7.value = Rom[i].getAttribute('name');
                    option8.value = Rom[i].getAttribute('name');


                    //Add the Option element to DropDownList.
                    ddl1.options.add(option1);
                    ddl2.options.add(option2);
                    ddl3.options.add(option3);
                    ddl4.options.add(option4);
                    ddl5.options.add(option5);
                    ddl6.options.add(option6);
                    ddl7.options.add(option7);
                    ddl8.options.add(option8);
                }
            });
        }
    }
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }
    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }


    function selectVal(txtid, val) {
        $("#" + txtid).attr('value', val);
    }

    function startButton2(event) {
        controlname = "#txtFreeForm";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

</script>