<div class="col-md-9 row" style="margin-top: 5px">
    <br />
    <div id="WrapLeft" #leftdiv>

        <label class="control-label"><b>Left Ankle Examination:</b></label>



        <label class="control-label">There is tenderness upon palpation of the </label>
        <input type="checkbox" ID="chkPalpationMedMalleolusLeft" onclick="checkMe(this)" value="medial malleolus" />medial malleolus
        <input type="checkbox" ID="chkPalpationLatMalleolusLeft" onclick="checkMe(this)" value="lateral malleolus" />lateral malleolus
        <input type="checkbox" ID="chkPalpationAchillesLeft" onclick="checkMe(this)" value="achilles tendon" />achilles tendon
        <label>.</label>
        <label class="control-label">The ankle pain is worsened with </label>
        <input type="checkbox" ID="chkWorsePlantarLeft" onclick="checkMe(this)" value="plantar flexion" />plantar flexion
        <input type="checkbox" ID="chkWorseDorsiLeft" onclick="checkMe(this)" value="dorsiflexion" />dorsiflexion
        <input type="checkbox" ID="chkWorseEversionLeft" onclick="checkMe(this)" value="eversion" />eversion
        <input type="checkbox" ID="chkWorseInversionLeft" onclick="checkMe(this)" value="inversion" />inversion
        <input type="checkbox" ID="chkWorseExtensionLeft" onclick="checkMe(this)" value="extension" />extension
        <input type="checkbox" ID="chkWorseAmbulationLeft" onclick="checkMe(this)" value="ambulation" />ambulation
        <label>.</label>
        <label class="control-label">There is </label>
        <input type="checkbox" ID="chkEdemaLeft" onclick="checkMe(this)" value="edema" />edema
        <input type="checkbox" ID="chkEcchymosisLeft" onclick="checkMe(this)" value="ecchymosis over the left ankle" />ecchymosis over the left ankle
        <label>.</label>


        <br />
        <label class="control-label">ROM is </label>
        <section class="dropdown">
            <input type="text" id="txtRangeOfMotionLeft" onchange="txtMe(this)" value="mildly decreased. " />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtRangeOfMotionLeft', this.value)" id="ddlRangeOfMotionLeft"><option></option><option>mildly decreased. </option><option>moderately decreased. </option><option>severely decreased. </option></select>
        </section>

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeForm" Style="width:700px;height:100px;" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <div style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></div>
        </section>

    </div>
    <br />
    <div id="WrapRight" #rigthtdiv>
        <label class="control-label"><b>Right Ankle Examination:</b></label>
        <label class="control-label">There is tenderness upon palpation of the </label>
        <input type="checkbox" ID="chkPalpationMedMalleolusRight" onclick="checkMe(this)" value="medial malleolus" />medial malleolus
        <input type="checkbox" ID="chkPalpationLatMalleolusRight" onclick="checkMe(this)" value="lateral malleolus" />lateral malleolus
        <input type="checkbox" ID="chkPalpationAchillesRight" onclick="checkMe(this)" value="achilles tendon" />achilles tendon
        <label>.</label>
        <label class="control-label">The ankle pain is worsened with </label>
        <input type="checkbox" ID="chkWorsePlantarRight" onclick="checkMe(this)" value="plantar flexion" />plantar flexion
        <input type="checkbox" ID="chkWorseDorsiRight" onclick="checkMe(this)" value="dorsiflexion" />dorsiflexion
        <input type="checkbox" ID="chkWorseEversionRight" onclick="checkMe(this)" value="eversion" />eversion
        <input type="checkbox" ID="chkWorseInversionRight" onclick="checkMe(this)" value="inversion" />inversion
        <input type="checkbox" ID="chkWorseExtensionRight" onclick="checkMe(this)" value="extension" />extension
        <input type="checkbox" ID="chkWorseAmbulationRight" onclick="checkMe(this)" value="ambulation" />ambulation
        <label>.</label>
        <label class="control-label">There is </label>
        <input type="checkbox" ID="chkEdemaRight" onclick="checkMe(this)" value="edema" />edema
        <input type="checkbox" ID="chkEcchymosisRight" onclick="checkMe(this)" value="ecchymosis over the right ankle" />ecchymosis over the right ankle.


        <br />
        <label class="control-label">ROM is </label>
        <section class="dropdown">
            <input type="text" id="txtRangeOfMotionRight" onchange="txtMe(this)" value="mildly decreased. " />
            <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtRangeOfMotionRight', this.value)" id="ddlRangeOfMotionRight"><option></option><option>mildly decreased. </option><option>moderately decreased. </option><option>severely decreased. </option></select>
        </section>

        <section class="col-md-3">
            <span class="control-label">Notes</span>
        </section>
        <section class="col-md-9" style="margin-top: 5px">
            <textarea id="txtFreeForm" Style="width:700px;height:100px;" onchange="txtAreaMe(this)"></textarea>

            <button type="button" id="start_button" onclick="startButton(event)">
                <img src="images/mic.gif" alt="start" />
            </button>
            <div style="display: none"><span class="final" id="final_span"></span><span class="interim" id="interim_span"></span></div>
        </section>

    </div>

</div>

<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>

<script type="text/javascript">

  //  window.load = PopulateDropDownList();

    function PopulateDropDownList() {


     //   var ddlRangeOfMotionRight = document.getElementById("ddlRangeOfMotionRight");

        if (ddlRangeOfMotionRight.options.length === 0) {

          //  var ddlRangeOfMotionLeft = document.getElementById("ddlRangeOfMotionLeft");



            $.get('/xml/HSMData.xml', function (res) {


                ddlRangeOfMotionLeft.options.length = 0;
                ddlRangeOfMotionRight.options.length = 0;
                //var $xml = $(xmlDoc);

                // Find Person Tag
                var Rom = $(res).find("ROM");


                for (var i = 0; i < Rom.length; i++) {
                    var optionL = document.createElement("option");
                    var optionR = document.createElement("option");

                    //Set Customer Name in Text part.
                    optionL.text = Rom[i].getAttribute('name');
                    optionR.text = Rom[i].getAttribute('name');


                    //Add the Option element to DropDownList.
                    ddlRangeOfMotionLeft.options.add(optionL);
                    ddlRangeOfMotionRight.options.add(optionR);
                }
            });
        }
    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function startButton(event) {
        controlname = "#txtFreeForm";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectVal(txtid, val) {

        $("#" + txtid).attr('value', val);
    }
</script>