


<center><h3>Initial Comprehensive Medical Evaluation</h3></center>
<table style="width:100%">
    <tr><td style="width:30%;font-weight:bold">RE:</td><td>#patientname</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOB:</td><td>#dob</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOI:</td><td>#doi</td></tr>
    <tr><td style="width:30%;font-weight:bold">DOS:</td><td>#dos</td></tr>
</table>
<br />
<br />
    #dod
    #restriction
    #workstatus
<br />
<br />
<b>HISTORY</b>
<br />
#history
<br />
<br />
<b>CHIEF COMPLAINT</b>
<br />
    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
    #complain

<b>REVIEW OF SYSTEMS: </b>#ROS
<br />
<br />
#pastmedicalhistory
#pastmedications
#familyhistory
#pastsurgicalhistory
#socialhistory
#allergies
#work_status
<b>PHISYCIAL EXAM</b>
<br />
<b>GENERAL: </b>No acute distress; awake, alert, oriented to name, time and place.
<br />
<br />

#PENeck
#PEMidback
#PELowback
#PEShoudler
#PEKnee
#PEElbow
#PEWrist
#PEHip
#PEAnkle
#otherPE

<b>NEUROLOGICAL EXAM: </b>#nerologicalexam
<br />
<br />
<b>REFLEX EXAMINATION: </b>#reflexexam
<br />
<br />
<b>SENSORY EXAMINATION: </b>#sensoryexam
<br />
<br />
<b>MOTOR EXAMINATION: </b>#motorexam
<br />
<br />
<b>DIAGNOSTIC STUDIES: </b>
<br />
#diagnostic
<br />
<br />
<b>DIAGNOSES: </b>#diagnoses

#plan

#gait
#procedures
#medications
#care
<br />
<br />
<b>GOALS: </b>To increase range of motion, strength, flexibility, to decrease pain and to improve body biomechanics and activities of daily living and improve the functional status.
<br />
<br />
#precautions
#consultation
#treatment
#follow-up



