<div class="row">
    <div class="col-md-3">
        <span class="control-label"><b><u>CHIEF COMPLAINT</u></b></span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <label class="control-label">The patient complains of mid-back pain that is </label>
        <input type="text" id="txtPainScale" style="Width:40px" value="7" onchange="txtMe(this)" />
        <label class="control-label">/10 with 10 being the worst, which is </label>
        <input type="checkbox" id="chkcontent" onclick="checkMe(this)" value="constant" />constant &nbsp;
        <input type="checkbox" id="chkintermittent" onclick="checkMe(this)" value="intermittent" />intermittent &nbsp;
        <input type="checkbox" id="chksharp" onclick="checkMe(this)" value="sharp" checked />sharp &nbsp;
        <input type="checkbox" id="chkdull" onclick="checkMe(this)" value="dull" checked />dull &nbsp;
        <input type="checkbox" id="chkachy" onclick="checkMe(this)" value="achy" checked />achy &nbsp;
        <input type="checkbox" id="chkelectric" onclick="checkMe(this)" value="electric" />electric &nbsp;
        <input type="checkbox" id="chkshooting" onclick="checkMe(this)" value="shooting" />shooting &nbsp;
        <input type="checkbox" id="chkthrobbing" onclick="checkMe(this)" value="throbbing" />throbbing &nbsp;
        <input type="checkbox" id="chkpulsating" onclick="checkMe(this)" value="pulsating" />pulsating
        <label> in nature.</label>



        <label class="control-label">The mid-back pain increases with </label>
        <input type="checkbox" id="chkworsesitting" onclick="checkMe(this)" checked value="sitting" />sitting &nbsp;
        <input type="checkbox" id="chkworsestanding" onclick="checkMe(this)" checked value="standing" />standing &nbsp;
        <input type="checkbox" id="chkworsebendingforward" onclick="checkMe(this)" checked value="bending forward" />bending forward &nbsp;
        <input type="checkbox" id="chkworsebendingbackward" onclick="checkMe(this)" checked value="bending backwards" />bending backwards &nbsp;
        <input type="checkbox" id="chkworsecarryingheavyitems" onclick="checkMe(this)" value="carrying heavy items" />carrying heavy items &nbsp;
        <input type="checkbox" id="chkworsetwistingleft" onclick="checkMe(this)" value="twisting to left" />twisting to left &nbsp;
        <input type="checkbox" id="chkworsetwistingright" onclick="checkMe(this)" value="twisting to right" />twisting to right &nbsp;
        <input type="checkbox" id="chkworselyingdown" onclick="checkMe(this)" value="sleeping" />sleeping &nbsp;
        <label>.</label>

        <label class="control-label"> The mid-back back pain is improved with </label>
        <input type="checkbox" id="chkimprovedresting" onclick="checkMe(this)" checked value="resting" />resting &nbsp;
        <input type="checkbox" id="chkimprovedmedication" onclick="checkMe(this)" value="medication" />medication &nbsp;
        <input type="checkbox" id="chkimprovedtherapy" onclick="checkMe(this)" value="therapy" />therapy &nbsp;
        <input type="checkbox" id="chkimprovedsleeping" onclick="checkMe(this)" value="sleeping" />sleeping
        <label>.</label>

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <span class="control-label">Notes</span>
    </div>
    <div class="col-md-9" style="margin-top: 5px">
        <textarea id="txtFreeFormCC" Style="width:700px;height:100px" onchange="txtAreaMe(this)"></textarea>
        <button type="button" id="start_button1" onclick="startButton1(event)">
            <img src="images/mic.gif" alt="start" />
        </button>
        <div style="display: none"><span class="final" id="final_span1"></span><span class="interim" id="interim_span1"></span></div>
    </div>
</div>

<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>

<script type="text/javascript">

    //window.load = PopulateDropDownList();

    //function PopulateDropDownList() {


    //    var ddl = document.getElementById("ddlradiate");

    //    ddl.options.length = 0;

    //    $.get('/xml/HSMData.xml', function (res) {

    //        //var $xml = $(xmlDoc);

    //        // Find Person Tag
    //        var Radiate = $(res).find("Radiate");



    //        for (var i = 0; i < Radiate.length; i++) {
    //            var option = document.createElement("option");

    //            //Set Customer Name in Text part.
    //            option.text = Radiate[i].getAttribute('name');


    //            //Add the Option element to DropDownList.
    //            ddl.options.add(option);
    //        }
    //    });

    //}
    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectRadiant(val) {

        $("#txtradiate").attr('value', val);
    }


    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }

    function startButton1(event) {
        controlname = "#txtFreeFormCC";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }
</script>