<label Style="float: left;"><b>Cervical Spine Examination:</b> reveals palpable spasms and tenderness to palpation in paracervical musculature, bilateral trapezius and bilateral rhomboids </label>
<div class="dropdown">
    <input type="text" id="txtLevels" onchange="txtMe(this)"  />
    <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtLevels', this.value);" id="ddlLevels"></select>
</div>
<label>Pain with extension, flexion and lateral rotation to left and right. Positive facet loading maneuver on left and right </label>
<div class="dropdown">
    <input type="text" id="txtLevels1" onchange="txtMe(this)"  />
    <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtLevels1', this.value);" id="ddlLevels1"></select>
</div>
<label> resulting in pain. Positive facet joint tenderness &nbsp;</label>
<div class="dropdown">
    <input type="text" id="txtLevels2" onchange="txtMe(this)"  />
    <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtLevels2', this.value);" id="ddlLevels2"></select>
</div>

<br />

<label Style="float: left;">The Spurling test is &nbsp;</label>
<div class="dropdown">
    <input type="text" id="txtSpurlings"  />
    <select onchange="this.previousElementSibling.value = this.value; this.previousElementSibling.focus();selectVal('txtSpurlings', this.value);" id="ddlSpurlings"></select>
</div>


<div id="divTP">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label"><b><u>Trigger Point:</u></b></label>
        </div>
        <div class="col-md-9" style="margin-top: 5px">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-9" style="margin-top: 5px">
                    <label>There are palpable taut bands/trigger points at </label>
                </div>
            </div>
            <table>
                <tr>
                    <td>
                        <select ID="ddlTPSide1" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText1" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide2" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText2" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide3" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText3" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide4" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText4" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide5" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText5" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide6" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText6" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select ID="ddlTPSide7" Style="height: 30px; width: 100px"></select>
                        <input type="text" ID="txtTPText7" onchange="txtMe(this)" Style="margin-left: 10px;width:500px" />
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label"></label>
                </div>
                <div class="col-md-9" style="margin-top: 5px">
                    <label> with referral to the scapula.</label>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>
<script type="text/javascript">

    window.load = PopulateDropDownList();

    function PopulateDropDownList() {


        var ddl1 = document.getElementById("ddlTPSide1");
        var ddl2 = document.getElementById("ddlTPSide2");
        var ddl3 = document.getElementById("ddlTPSide3");
        var ddl4 = document.getElementById("ddlTPSide4");
        var ddl5 = document.getElementById("ddlTPSide5");
        var ddl6 = document.getElementById("ddlTPSide6");
        var ddl7 = document.getElementById("ddlTPSide7");


        ddl1.options.length = 0;
        ddl2.options.length = 0;
        ddl3.options.length = 0;
        ddl4.options.length = 0;
        ddl5.options.length = 0;
        ddl6.options.length = 0;
        ddl7.options.length = 0;

        $.get('/xml/HSMData.xml', function (res) {

            var TPSides = $(res).find("sTPSides");
            var Rom = $(TPSides).find("TPSide");


            for (var i = 0; i < Rom.length; i++) {
                var option1 = document.createElement("option");
                var option2 = document.createElement("option");
                var option3 = document.createElement("option");
                var option4 = document.createElement("option");
                var option5 = document.createElement("option");
                var option6 = document.createElement("option");
                var option7 = document.createElement("option");




                //Set Customer Name in Text part.
                option1.text = Rom[i].getAttribute('name');
                option2.text = Rom[i].getAttribute('name');
                option3.text = Rom[i].getAttribute('name');
                option4.text = Rom[i].getAttribute('name');
                option5.text = Rom[i].getAttribute('name');
                option6.text = Rom[i].getAttribute('name');
                option7.text = Rom[i].getAttribute('name');

                option1.value = Rom[i].getAttribute('name');
                option2.value = Rom[i].getAttribute('name');
                option3.value = Rom[i].getAttribute('name');
                option4.value = Rom[i].getAttribute('name');
                option5.value = Rom[i].getAttribute('name');
                option6.value = Rom[i].getAttribute('name');
                option7.value = Rom[i].getAttribute('name');



                //Add the Option element to DropDownList.
                ddl1.options.add(option1);
                ddl2.options.add(option2);
                ddl3.options.add(option3);
                ddl4.options.add(option4);
                ddl5.options.add(option5);
                ddl6.options.add(option6);
                ddl7.options.add(option7);

            }
        });



        var ddlLevels = document.getElementById("ddlLevels");
        var ddlLevels1 = document.getElementById("ddlLevels1");
        var ddlLevels2 = document.getElementById("ddlLevels2");
        var ddlSpurlings = document.getElementById("ddlSpurlings");


        ddlSpurlings.options.length = 0;


        $.get('/xml/HSMData.xml', function (res) {

            //var $xml = $(xmlDoc);

            // Find Person Tag
            var Radiate = $(res).find("Result");


            for (var i = 0; i < Radiate.length; i++) {
                var optionDistraction = document.createElement("option");
                var optionSpurlings = document.createElement("option");

                //Set Customer Name in Text part.
                optionSpurlings.text = Radiate[i].getAttribute('name');
                optionSpurlings.value = Radiate[i].getAttribute('name');

                //Add the Option element to DropDownList.

                ddlSpurlings.options.add(optionSpurlings);


            }

            var Levels = $(res).find("Level");

            ddlLevels.options.length = 0;
            ddlLevels1.options.length = 0;
            ddlLevels2.options.length = 0;

            for (i = 0; i < Levels.length; i++) {

                var optionLevels = document.createElement("option");
                var optionLevels1 = document.createElement("option");
                var optionLevels2 = document.createElement("option");
                //Set Customer Name in Text part.
                optionLevels.text = Levels[i].getAttribute('name');
                optionLevels1.text = Levels[i].getAttribute('name');
                optionLevels2.text = Levels[i].getAttribute('name');

                //Add the Option element to DropDownList.
                ddlLevels.options.add(optionLevels);
                ddlLevels1.options.add(optionLevels1);
                ddlLevels2.options.add(optionLevels2);

            }
        });

    }


    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectVal(txtid, val) {

        $("#" + txtid).attr('value', val);
    }
</script>