<p align="center">
    <strong>PROCEDURE </strong>
    <strong>REPORT</strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong>PROCEDURE:</strong>
    Right acromioclavicular joint under ultrasound guidance.
</p>
<p>
    Technique: After obtaining informed consent, the patients right
    acromioclavicular joint was palpated for the painful area of complaint.
</p>
<p>
    The patient was seated in an upright position. The right acromioclavicular
    joint was cleansed with alcohol prep pad. The medication combination below
    was drawn using a 3 mL sterile syringe with a 27gauge one and a half inch
    sterile needle. The syringe is held at a 90° angle and advanced into the
    right acromioclavicular joint. The plunger is aspirated and no blood is
    drawn back into the syringe. The plunger of the syringe is pushed forward
    to inject content of syringe into right acromioclavicular joint. Needle and
    syringe is retracted from right acromioclavicular joint. Needle and syringe
    were retracted from the trapezius.
</p>
<p>
    <strong>_2_cc of 1% lidocaine _1_cc of 40mg/cc of depomedrol</strong>
</p>
<p>
    The mixture was injected after
    <strong>
        <u>aspiration was negative for blood or air.</u>
        The ultrasound machine was also used to visualize the medication going
        into the muscles to avoid any vulnerable areas such as arteries, veins
        and nerves
    </strong>
    . After aspiration to make sure that the needle was not inside a vessel, a
    mixture of the following medication was injected in the above trigger point
    regions. As no fluid was aspirated out, no sample was sent to the lab for
    cytology.
</p>
<p>
    A bandage was placed over injection site. The patient tolerated the
    procedure well and was discharged without complications.
</p>
<p>
    This should stand for the letter of medical necessity for the requested
    procedure. <u></u>
</p>
<p>
    <a name="lic"></a>
</p>