<p align="center">
    <strong>
        PROCEDURE Note: Cervical trigger point injections under ultrasound
        guidance
    </strong>
</p>
<p align="center">
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    Diagnosis: Myofascial pain syndrome M79.1, Myofascial trigger point M79.1,
    Muscle Spasms
</p>
<p>
    Trigger point injection of the <a name="C34"></a><a name="Levels"></a>
    paraspinal muscle(s):
</p>
<p>
    #muscle
    <br />
    #levels
</p>
<p>
    Technique: After obtaining informed consent, the patients muscle(s) were
    palpated for the painful area of complaint.
</p>
<p>
    An exquisitely painful area of the above muscles was detected. Palpation
    over this taut band of muscle caused a twitch response and a referred pain
    pattern. At this time, the area was marked and sprayed with topical ethyl
    chloride. The medication combination below was drawn using a 22 gauge 1 ½
    inch needle. The skin was prepped and a 27 gauge 1 1/4 inch needle replaced
    the 22 gauge needle, which was then introduced through the skin and
    subcutaneous tissues down into the taut band of muscle. After aspiration to
    make sure that the needle was not inside a vessel, a mixture of the
    following medication was injected in the above trigger point regions.
</p>
<p>
    #medications
</p>
<p>
    The mixture was injected after aspiration was    <strong><u>negative for blood or air.</u></strong><strong> </strong>
    <strong>
        The ultrasound machine was also used to visualize the medication going
        past the adipose tissue and into the muscles to avoid any vulnerable
        areas such as arteries, veins and nerves and avoid puncturing a lung.
    </strong>
    The patient tolerated the procedure well with no adverse events. This
    medication was evenly distributed between the above muscles.
</p>
<p>
    <a name="lic"></a>
</p>