<div>
    <p align="center">
        <strong><u>Procedure Note:</u></strong>
        <strong>
            (side) foot steroid injections under ultrasound guidance
        </strong>
    </p>
    <p align="center">
        <strong></strong>
    </p>
    <table width="100%">
        <tr>
            <td style="width:50%"><b>Name:</b>#name</td>
            <td style="width:50%"><b>Date:</b>#date</td>
        </tr>
        <tr>
            <td style="width:50%"><b>Location:</b>#location</td>
            <td style="width:50%"><b>DOB:</b>#date</td>
        </tr>
    </table>
    <p>
        <strong>Diagnosis: </strong>
        Plantar fasciitis
    </p>
    <p>
        <strong>Technique:</strong>
        After obtaining informed consent, the patients fasica muscle(s) were
        palpated for the painful area of complaint.
    </p>
    <p>
        The following was done:
    </p>
    <p>
        A soft recess just distal to the lateral maleoli was palpated. The area
        was marked at the injection site with the pen tip in order to leave an
        impression in the skin. The skin was thoroughly cleaned with betadyne
        then alcohol. Performed with the patient in a seated position with the
        ankle supinated. A anterolateral approach was used, under ultrasound
        guidance with color dopplar on the 25g 1 1/4 inch needle was advanced
        into the distal medial calcanius region, into the palntar fascia. Color
        dopplar used to ensure that no vessels were penetrated. Special care
        was made to avoid all vessels. Aspiration was done to make sure vessels
        were not penetrated. After negative aspiration, the full contents of
        the syringe was injected, and then band-aid was applied.
    </p>
    <p>
        Areas injected
    </p>
    <p>
        _<strong>x</strong>_flexor digitorum longus
    </p>
    <p>
        _<strong>x</strong>_lumbricals
    </p>
    <p>
        _<strong>x</strong>_flexor hallucis brevis
    </p>
    <p>
        __ abductor hallucis
    </p>
    <p>
        __ intrensic muscles of the foot
    </p>
    <p>
        __ medial bands of the plantar fascia
    </p>
    <p>
        __ central bands of the plantar fascia
    </p>
    <p>
        __ lateral bands of the planter fascia
    </p>
    <p>
        The injectate included the following mediations.
    </p>
</div>
<br clear="all" />
<div>
    <p>
        _1_cc of 40mg/ml of depomedrol
    </p>
    <p>
        1 cc 1% lidocaine
    </p>
</div>
<br clear="all" />
<p>
    The patient tolerated the procedure well with no adverse events.
</p>
<p>
    <a name="lic"></a>
</p>