<p align="center">
    <strong>
        PROCEDURE Note: Left subtalar steroid injections under ultrasound
        guidance
    </strong>
</p>
<p align="center">
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong>Diagnosis: </strong>
    <a
        href="http://www.icd10data.com/ICD10CM/Codes/M00-M99/M70-M79/M77-/M77.50"
    >
        M77.50
    </a>
    - Other enthesopathy of unspecified foot, S93.4 Sprain of ankle
</p>
<p>
    <strong>Technique:</strong>
    After obtaining informed consent, the patients muscle(s) were palpated for
    the painful area of complaint.
</p>
<p>
    The following was done:
</p>
<p>
    A soft recess just distal to the lateral maleoli was palpated. The area was
    marked at the injection site with the pen tip in order to leave an
    impression in the skin. The skin was thoroughly cleaned with betadyne then
    alcohol. Perform with the patient in a seated position with the ankle
    supinated. A anterolateral approach was used, under ultrasound guidance
    with color dopplar on, the 25g 1 1/4 inch needle was advanced into the
    subtalar joint. Color dopplar used to ensure that no vessels were
    penetrated. Special care was made to avoid all vessels. Aspiration was done
    to make sure vessels were not penetrated. After negative aspiration, the
    full contents of the syringe was injected, and then band-aid was applied.
</p>
<p>
    The injectate included the following mediations.
</p>
<p>
    <strong>_1_cc of 40mg/ml of depomedrol 1 cc 1% lidocaine</strong>
</p>
<p>
    The patient tolerated the procedure well with no adverse events.
</p>
<p>
    <a name="lic"></a>
</p>