<p align="center">
    <strong>PROCEDURE REPORT</strong>
</p>
<p align="center">
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>PREOPERATIVE DIAGNOSIS</strong>
    : Left Elbow internal derangement.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>POST OPERATIVE DIAGNOSIS</strong>
    : Left Elbow internal derangement.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>PROCEDURE:</strong>
    Intra-articular left elbow injection of steroids with Ultrasound Guidance.
</p>
<p>
    <strong>INDICATIONS:</strong>
    Radiohumeral joint injection was used to diagnose and treat the painful and
    swollen elbow due to rheumatoid arthritis or nonspecific inflammatory
    arthritides and trauma related pain and inflammation. The patient was
    identified and was found to be stable. Because the patient reports that the
    pain still continues, and given the findings and physical exam, the
    indication for the procedure persists.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>DESCRIPTION OF PROCEDURE: </strong>
    After informed consent was obtained, the patient was placed in the sitting
    position with the elbow flexed to 90 degrees. The lateral epicondyle and
    posterior olecranon are palpated. The patient was prepared in a standard
    aseptic fashion over an area large enough to allow palpation of landmarks,
    and sterile technique was used throughout the procedure. Bony landmarks
    were identified clinically and verified via Ultrasound guidance technique.
</p>
<p>
    A 1½-in., 25-gauge needle was inserted into the groove just above and
    lateral to the olecranon process, just below the lateral humeral epicondyle
    and posterior to the head of the radius. The needle was gently manipulated
    into the joint. Ultrasound was used to guide the needle into the
    intra-articular joint space and negative aspiration of blood was confirmed.
    Aspiration was attempted until the needle has entered the synovial space.
    No effusion was withdrawn. After negative aspiration, the joint was
    injected with a 5-mL mixture of:
</p>
<p>
    <a name="Medications"></a>
    <strong></strong>
</p>
<p>
    The patient tolerated the procedure well and was discharged without
    complications.
</p>
<p>
    This should stand for the letter of medical necessity for the requested
    procedure.
</p>
<p>
    <a name="lic"></a>
</p>