<div>
    <p align="center">
        <strong>PROCEDURE REPORT</strong>
    </p>
    <p align="center">
        <strong></strong>
    </p>
    <table width="100%">
        <tr>
            <td style="width:50%"><b>Name:</b>#name</td>
            <td style="width:50%"><b>Date:</b>#date</td>
        </tr>
        <tr>
            <td style="width:50%"><b>Location:</b>#location</td>
            <td style="width:50%"><b>DOB:</b>#date</td>
        </tr>
    </table>
    <p>
        <strong></strong>
    </p>
    <p>
        <strong>PREOPERATIVE DIAGNOSIS</strong>
        : <a name="kneeaspect"></a> Left knee internal derangement.
    </p>
    <p>
        <strong></strong>
    </p>
    <p>
        <strong>POSTOPERATIVE DIAGNOSIS</strong>
        : Left knee internal derangement.
    </p>
    <p>
        <strong>PROCEDURE:</strong>
        <a name="kneeaspect1"></a>
        Left knee intra-articular steroid injection with Ultrasound Guidance.
    </p>
    <p>
        <strong>PHYSICIAN: </strong>
        Ketan D. Vora D.O.
    </p>
    <p>
        <strong>DESCRIPTION OF PROCEDURE: </strong>
        The patient was identified and was found to be stable. Because the
        patient reports that the pain still continues, and given the MRI
        findings and physical exam, the indication for the procedure persists.
    </p>
    <p>
        The patient was put in the appropriate position. Ethyl chloride was
        sprayed over the region to be injected to allow for a numbing effect.
        The medication combination below was drawn using a 22 gauge 1 ½ inch
        needle The injection field was prepped and draped with Betadine three
        times. The needle used was a 27 gauge spinal needle, 1.25 inches long.
        The interspace between the distal femur and the proximal tibia was
        identified clinically and verified via Ultrasound guidance technique.
        Ultrasound was used to guide the needle into the intra-articular joint
        space and negative aspiration of blood was confirmed. Subsequently an
        intra-articular injection into the knee was performed under sterile
        technique. At this time the following mixture of medication was
        injected in the joint.
    </p>
</div>
<br clear="all"/>
<p>
    <a name="Medications"></a>
    <strong></strong>
</p>
<p>
    The patient tolerated the procedure well and was discharged without
    complications. This should stand for the letter of medical necessity for
    the requested procedure. <u></u>
</p>
<p>
    <a name="lic"></a>
</p>