<p align="center">
    <strong>Procedure Report: </strong>
(side)    <strong>lesser occipital nerve blocks under ultrasound guidance</strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>Diagnosis:</strong>
    M54.81 Occipital neuralgia,
</p>
<p>
    CPT 64405, 64450
</p>
<p>
    <strong>Indications:</strong>
    Severe (side) occipital pain
</p>
<p>
    Patient's left occipital area was palpated then <u>ultrasound</u> was used
    to identify location of lesser occipital nerves. Alcohol was applied
    topically to the skin. Using a 27 gauge needle (aspirating during
    insertion), 2cc of a mixture of dexamethasone, 1% lidocaine (1cc, 1cc,
    respectively drawn up into syringe) was injected on the left side
    (directing needle to center, left and right of painful focus). Pressure
    with a gauze pad was held briefly upon the site of puncture to minimize
    bleeding and to further spread anaesthetic subcutaneously. The procedure
    was repeated on the right side, injecting a further 2cc on that side.
</p>
<p align="center">
    1cc dexamethasone, 1cc 1% lidocaine
</p>
<p>
    The mixture was injected after aspiration was negative for blood or air.
    The ultrasound machine was also used to visualize the medication going past
    the adipose tissue and into the muscles to avoid any vulnerable areas such
    as arteries, veins and nerves. The patient tolerated the procedure well
    with no adverse events. This medication was evenly distributed between the
    above muscles.
</p>
<p>
    <strong>COMPLICATIONS: </strong>
    None.
</p>
<p>
    .<strong></strong>
</p>