<p align="center">
    <strong>PROCEDURE NOTE: Left </strong>
    <strong>shoulder suprascapular nerve block</strong>
    <strong><u></u></strong>
</p>
<p>
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>PREOPERATIVE DIAGNOSIS</strong>
    : Myalgia and myositis, bursitis, frozen left shoulder.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>POSTOPERATIVE DIAGNOSIS</strong>
    : Myalgia and myositis, bursitis, frozen left shoulder.
</p>
<p>
    <strong>PROCEDURE: </strong>
    Left shoulder suprascapular nerve block.
</p>
<p>
    <strong>CONSENT: </strong>
    After the explanation of the risks, benefits, alternatives and possible
    complications, written and verbal informed consent was obtained from the
    patient and placed in the chart.
    <br/>
    <br/>
    <strong>DESCRIPTION OF PROCEDURE: </strong>
    The patient placed in prone position. Left shoulder local under fluoroscopy
    22-gauge needles were advanced to the suprascapular notch, localized with
    fluoroscopy and 5 cc of 0.5% Marcaine and 0.5% lidocaine injected into the
    area of block to release the shoulder joint. Sterile dressing applied at
    the injection site. The patient tolerated the procedure well.
</p>
<p>
    Post op patient demonstrated a significant range of motion improvement.
    This will be considered as a positive suprascapular nerve block and the
    patient will proceed with a pulsated radiofrequency ablation.
</p>