<p align="center">
    <strong><u>Procedure Report</u></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    Diagnosis:G56.0 “Left carpal tunnel syndrome”
</p>
<p>
    Technique: After obtaining informed consent, the patients muscle(s) were
    palpated for the painful area of complaint.
</p>
<p>
    The following was done:
</p>
<p>
    The area was marked at the injection site with the pen tip in order to
    leave an impression in the skin. The skin was thoroughly cleaned with
    alcohol. Perform with the patient in a seated position with elbow flexed to
    90 and hand supinated. With the hand supinated and the fingers together.
    Under ultrasound guidance with color Doppler on, the 25g 1/2 inch needle
    was advanced along the3rd- 4th digit to the point 1.5-2cm distal to the
    wrist crease at a 30-45 degree angle ( NOT in the actual tendons) Color
    Doppler used to ensure that no vessels were penetrated. Special care was
    made to avoid all vessels. Aspiration was done to make sure vessels were
    not penetrated. After negative aspiration, the full contents of the syringe
    was injected, and then Band-Aid was applied.
</p>
<p>
    The injectate included the following mediations:
</p>
<p>
    _1_cc of 4mg/ml dexametha
</p>
<p>
    The patient tolerated the procedure well with no adverse events.
</p>