<div>
    <p align="center">
        <strong>
            PROCEDURE Note: Shoulder Trigger point injection under Ultrasound
            Guidance
        </strong>
    </p>
    <table width="100%">
        <tr>
            <td style="width:50%"><b>Name:</b>#name</td>
            <td style="width:50%"><b>Date:</b>#date</td>
        </tr>
        <tr>
            <td style="width:50%"><b>Location:</b>#location</td>
            <td style="width:50%"><b>DOB:</b>#date</td>
        </tr>
    </table>
    <p>
        PROCEDURE NOTE: <a name="shoulderaspect"></a>        <a name="subacromialaspect"></a>Right deltoid trigger point injection.
    </p>
    <p>
        Diagnosis: Myofascial pain syndrome M79.1, Myofascial trigger point
        M79.1, Muscle Spasms
    </p>
    <p>
        Procedure: Trigger point injection of the deltoid muscles.
    </p>
    <p>
        Technique: After obtaining informed consent, the patients muscle(s)
        were palpated for the painful area of complaint.
    </p>
    <p>
        An exquisitely painful area of the deltoid muscle was detected.
        Palpation over this taut band of muscle caused a twitch response and a
        referred pain pattern. At this time, the area was marked and sprayed
        with topical ethyl chloride. The medication combination below was drawn
        using a 22 gauge 1 ½ inch needle. The skin was prepped and a 30 gauge 1
        inch needle replaced the 22 gauge needle, which was then introduced
        through the skin and subcutaneous tissues down into the taut band of
        muscle. After aspiration to make sure that the needle was not inside a
        vessel, a mixture of the following medication was injected in the above
        trigger point region.
    </p>
</div>
<br clear="all" />
<div>
    <p>
        <strong><u>6 </u></strong>
        <strong>cc of 1% lidocaine</strong>
    </p>
    <p>
        __cc of 0.25% marcaine
    </p>
    <p>
        <strong><u>1 </u></strong>
        <strong>cc of 40mg/cc of DepoMedrol</strong>
    </p>
</div>
<br clear="all" />
<p>
    The mixture was injected after aspiration was
    <strong>
        <u>negative for blood or air</u>
        . The ultrasound machine was also used to visualize the medication
        going past the adipose tissue and into the muscles to avoid any
        vulnerable areas such as arteries, veins and nerves.
    </strong>
    After aspiration to make sure that the needle was not inside a vessel, a
    mixture of the following medication was injected in the above trigger point
    regions. As no fluid was aspirated out, no sample was sent to the lab for
    cytology.
</p>
<p>
    The patient tolerated the procedure well and was discharged without
    complications. This should stand for the letter of medical necessity for
    the requested procedure. <u></u>
</p>
<p>
    <a name="lic"></a>
</p>