<p align="center">
    <a name="OLE_LINK3"></a>
    <a name="OLE_LINK2"><strong>Procedure Note: </strong></a>
    <strong>
        (side) <a name="OLE_LINK14">rectus femoris trigger point injection</a>
        under ultrasound guidance
    </strong>
</p>
<p align="center">
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong>Diagnosis: </strong>
</p>
<p>
    <strong>Technique:</strong>
    After obtaining informed consent, the patient was seated in an upright
    position. The (side) rectus femoris muscle was cleansed with alcohol prep
    pad.
</p>
<p>
    The following was done:
</p>
<p>
    The medication combination below was drawn up in 3 mL sterile syringe with
    a <a name="OLE_LINK13">27 gauge one and a half inch sterile needle</a>. The
    syringe was held at a 90° angle and advanced into the (side) rectus femoris
    muscle . The plunger was aspirated and no blood was drawn back into the
    syringe. The plunger of the syringe was pushed forward to inject content of
    syringe into the<a name="_Hlk495268368"> (side) rectus femoris</a> muscle.
    Needle and syringe were retracted from the (side) rectus femoris. A bandage
    was placed over the injection site.
</p>
<p>
    The injectate included the following mediations.
</p>
<p>
    <strong>_1_cc of 30 mg of toradol _1_ cc normal saline</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    The mixture was injected after
    <strong>
        <u>aspiration was negative for blood or air.</u>
        The ultrasound machine was also used to visualize the medication going
        into the muscles to avoid any vulnerable areas such as arteries, veins
        and nerves.
    </strong>
    <strong></strong>
</p>
<p>
    The patient tolerated the procedure well with no adverse reaction or
    complaints of pain.
</p>
<p>
    This should stand for the letter of medical necessity for the requested
    procedure. <u></u>
</p>
<p>
    <a name="lic"></a>
</p>