<p align="center">
    <strong><u>Operative Report</u></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>PREPROCEDURE DIAGNOSIS</strong>
    : Right hip degenerative joint disease.
</p>
<p>
    <strong>POST OPERATIVE DIAGNOSIS: </strong>
    Right hip degenerative joint disease
</p>
<p>
    <strong>INJECTION PROCEDURE:</strong>
    Right intracapsular steroid injection under fluoroscopy.
</p>
<p>
    <strong>ALLERGIES: NKDA</strong>
</p>
<p>
    <strong>COMPLICATIONS: </strong>
    None.
</p>
<p>
    <strong>DESCRIPTION OF PROCEDURE: </strong>
    The patient was identified and was found to be stable. Because the patient
    reports that the pain still continues, the indication for the procedure
    persists.
</p>
<p>
    The patient was placed in the supine position. The injection field was
    prepped and draped with Betadine three times. The needle used was a 22
    gauge spinal needle, 5 inches long.
</p>
<p>
    The femoral head was identified clinically and verified fluoroscopically.
    Fluoroscopy was used to guide the needle over the femoral head of the right
    hip. An arthrogram was performed with after negative aspiration for blood
    was confirmed. After making sure that the flow was uniform a mixture of
    10mg of dexamethasone and 4 ml of 1% Lidocaine was injected under sterile
    conditions.
</p>
<p>
    The patient tolerated the procedure well and was discharged from the office
    in stable condition.
</p>
<p>
    This should stand as the letter of medical necessity for the requested
    procedure. <u></u>
</p>