<p align="center">
    <strong><u>PROCEDURE REPORT</u></strong>
</p>
<p>
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>PREOPERATIVE DIAGNOSIS</strong>
    : Right knee pain.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>POSTOPERATIVE DIAGNOSIS: </strong>
    Right knee pain.
</p>
<p>
    <strong>OPERATIVE PROCEDURE:</strong>
    Right knee genicular nerve block under Ultrasound Guidance.
</p>
<p>
    <strong>Diagnosis:</strong>
    Right knee pain M25.562
</p>
<p>
    <strong>Technique:</strong>
    After obtaining informed consent, the patients muscle(s) were palpated for
    the painful area of complaint.
</p>
<p>
    <strong>DESCRIPTION OF THE PROCEDURE:</strong>
</p>
<p>
    The patient was identified and was found to be stable. Because the patient
    reports that the pain still continues, and given the MRI findings and
    physical exam, the indication for the procedure persists.
</p>
<p>
    The patient’s knee was prepped with Betadine. AP view of the knee was
    obtained. Then 22 gauge 3.5 inch needles were advanced at the medial
    femoral epicondylar region, lateral femoral epicondylar region and medial
    condyle of tibia at the point of maximal concavity. Lateral view of the
    right knee was obtained and needle placement was confirmed. Needles were
    adjusted to approximately half the depth of the femur and tibia
    respectively.
</p>
<p>
    Patient was administered 0.25% Marcaine 9 mL. After administration of the
    injectable, the needles were withdrawn thereby completing the procedure.
</p>
<p>
    The mixture was injected after aspiration was
    <strong>
        <u>negative for blood or air</u>
        . The ultrasound machine was also used to visualize the medication
        going past the adipose tissue and into the muscles to avoid any
        vulnerable areas such as arteries, veins and nerves.
    </strong>
</p>
<p>
    The patient tolerated the procedure well and was discharged without
    complications. This should stand for the letter of medical necessity for
    the requested procedure. <u></u>
</p>