<p align="center">
    <strong>
        Procedure Note: Right Knee Pes Anserine bursa joint injection under
        ultrasound guidance
    </strong>
</p>
<p>
    <strong></strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>CLINICAL HISTORY: </strong>
    Right knee Pes Anserine bursitis
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>DIAGNOSIS: </strong>
    Right knee Pes Anserine bursitis (M70.51)<strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>ANESTHETIC AGENT: </strong>
    0. 1% lidocaine.<strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>MEDICATION: </strong>
    40mg Depo-Medrol.<strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>NEEDLE UTILIZED: </strong>
    1.5 inch 25 gauge, 3ml syringe.<strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Medical Necessity:</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    The patient complains of moderate, right inframedial knee pain more around
    the pes anserine bursa region. On a scale of one to ten the patient rates
    the pain as 8. The patient has found temporary and minimal relief with
    conservative treatment. The patient's physical examination is consistent
    with Pes Anserine bursitis. It is indicated at this time for the patient to
    undergo a Right Pes anserine bursa injection in an attempt to restore them
    to their prior functional capacity and comfort .
</p>
<p>
    The patient was placed in seated with his legs hanging. The patient was
    then prepared in the usual sterile fashion using alcohol and Chlorascrub.
    Using a transducer and sterile ultrasound gel The transducer was place in
    the transverse plane approximately two inches medial and inferior to the
    right knee patella. The transducer was used to identify the tibial
    tuberosity, and the pes anserine bursa. Fluid was noted in the bursa. With
    ultrasound guidance, a 25 gauge 1 1/2 inch needle was put into the right
    pes anserine bursa, with minimal fluid aspirated. After that fluid was
    discarded, another 3 cc syringe was used to inject 2cc of 1% lidocaine and
    1cc of 40mg of depomedrol into the pes anserine bursa.
</p>
<p>
    There were no paresthesias or complaints reported by the patient. The
    patient was then discharged to the chiropractor for treatment. The patient
    was advised to continue with their conservative treatment such as home
    exercise, physical therapy and chiropractic treatment. The patient was
    given an appointment to follow up in 1 week and to notify the office
    immediately if fever or signs of bleeding or discomfort arise.
</p>
<p>
    The patient tolerated the procedure well and was discharged without
    complications. This should stand for the letter of medical necessity for
    the requested procedure. <u></u>
</p>
<p>
    <a name="lic"></a>
</p>