<div>
    <p align="center">
        <strong>
            PROCEDURE Note: Right De Quervains Tenosynovitis injections under
            ultrasound guidance
        </strong>
    </p>
    <p align="center">
        <strong></strong>
    </p>
    <table width="100%">
        <tr>
            <td style="width:50%"><b>Name:</b>#name</td>
            <td style="width:50%"><b>Date:</b>#date</td>
        </tr>
        <tr>
            <td style="width:50%"><b>Location:</b>#location</td>
            <td style="width:50%"><b>DOB:</b>#date</td>
        </tr>
    </table>
    <p>
        Diagnosis: Myofascial pain syndrome, M65.4 radial Styloid tenosynovitis
    </p>
    <p>
        Technique: After obtaining informed consent, the patients muscle(s)
        were palpated for the painful area of complaint.
    </p>
    <p>
        The following was done:
    </p>
    <p>
        The area was marked at the injection site with the pen tip in order to
        leave an impression in the skin — Point of maximal tenderness (on
        distal, lateral/radial side of radius). The skin was thoroughly cleaned
with alcohol. The patient was sitting with the        <strong>radial side of the wrist up</strong>. With the tuberculin
        needle/syringe, the skin was entered at about 20-30-degrees to the
        skin. Under ultrasound guidance with color dopplar on, the needle was
advanced until it was confirmed that needle was        <strong>under the tendon sheath</strong> of the abductor pollicis
        longus (APL) and extensor pollicis brevis (EPB), but NOT in the actual
        tendons. Special care was made to avoid all vessels. Aspiration was
        done to make sure vessles were not penetrated. After negative
        aspiration, the full contents of the syringe was injected, and then
        band-aid was applied.
    </p>
    <p>
        The injectate included the following mediations.
    </p>
</div>
<br clear="all"/>
<div>
    <p>
        _0.5_cc of 1% lidocaine
    </p>
    <p>
        _0.5_cc of 40mg/cc of depomedrol
    </p>
</div>
<br clear="all"/>
<p>
    The patient tolerated the procedure well with no adverse events.
</p>