<p align="center">
    <strong>
        Procedure Report: (Side) supraorbital nerve blocks under ultrasound
        guidance
    </strong>
</p>
<table width="100%">
    <tr>
        <td style="width:50%"><b>Name:</b>#name</td>
        <td style="width:50%"><b>Date:</b>#date</td>
    </tr>
    <tr>
        <td style="width:50%"><b>Location:</b>#location</td>
        <td style="width:50%"><b>DOB:</b>#date</td>
    </tr>
</table>
<p>
    <strong></strong>
</p>
<p>
    <strong>Diagnoses</strong>
    : 1. Chronic Headaches.
</p>
<p>
    2. (side) Ocular Pain.
</p>
<p>
    The procedure was performed under ultrasonic guidance. The (side)
    supraorbital foramen was located, 2-3 cm lateral to the midline of the
    face, at the inferior edge of the supraorbital ridge. A 25g 1" needle was
    slowly introduced at a perpendicular angle immediately superior to the
    (side) supraorbital notch. The needle was then withdrawn 1-2 mm to avoid
    intraneural injection. Ultrasonic guidance was utilized for needle
    placement imaging supervision and interpretation. Examination of the bony
    structure and other soft tissue, revealed no abnormalities. There was no
    evidence of intravascular injection at the site. Following negative
    aspiration for blood, a mixture of 40mg DepoMedrol and 2cc of 0.25%
    Marcaine preservative free was injected with visual confirmation of fluid
    spread around the target.
</p>
<p>
    The same procedure was done on the opposite side.
</p>
<p>
    <strong>COMPLICATIONS: </strong>
    None.
</p>